
<li class="resultat class_flex">
    <input
        type="radio"
        name="reservation_id"
        value="{{ res.id }}"
        id="trajet_{{ res.id }}"
        aria-labelledby="label_trajet_{{ res.id }}"
    >
    <label
    for="trajet_{{ res.id }}"
    >
        {% if res.trajet_reserver.chauffeur.adresse_user.photo %}
            <img src="{{ res.trajet_reserver.chauffeur.adresse_user.photo.url }}" alt="photo de profil" class="photo_profile">
        {% else %}
            <img src="{{ photo_default_url }}" alt="photo par défaut" class="photo_profile">
        {% endif %}<br>
        Chauffeur : {{ res.trajet_reserver.chauffeur }}<br>
        Départ de :<br>{{ res.trajet_reserver.ville_depart }} pour {{ res.trajet_reserver.ville_arrivee }}<br>
        Le : {{ res.trajet_reserver.date }}<br>
        À : {{ res.trajet_reserver.heure|date:"H\H:i" }} <br>
            Voiture : {{ res.trajet_reserver.voiture.marque }} {{ res.trajet_reserver.voiture.modele }}<br>
        Prix payer : {{ res.prix_par_passager }}€<br>
        Places disponibles :
        {% if res.trajet_reserver.places != 0 %}
        {{ res.trajet_reserver.places }}
        {% else %}
        Complet
        {% endif %}<br>
        Trajet : {{ res.trajet_reserver.etat }}<br>
        {{ res.places }} places de reservée{{ res.places |pluralize }} <br>
    </label>
</li>