form#filtre_form {
    display: flex;
    justify-content: center;
}
form#filtre_form label {
    display: none;
}
input#id_note , input#id_prix , input#id_temps_trajet {
    text-align: center;
    border-radius: 10px;
    width: 175px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.41);
}

@media(min-width:320px) and (max-width: 767px){
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 65px;
        font-size: 10px;
    }
}
@media(min-width:768px) and (max-width: 900px){
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 100px;
        font-size: 10px;
    }
}