#recherche_form  {
    display:flex;
    gap:0;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    }

    #recherche_form input, #recherche_form select, #recherche_form button {
        text-align: center;
        width: 150px;
        height: 30px;
        }

    #recherche_form label{
        display: none;
        }
button {
        border:1px solid #6fc2ec;
        width:150px;
        height: 30px;
        box-sizing: border-box;
        background-color: #6fc2ec;
    }

button:hover {
    background-color: rgb(53, 152, 228);
    color: white;
}

.conteneur_recherche {
    background-color: #f9f9f9;
    width: 100%;
    margin: 20px auto;
    position: relative;
    bottom: -2%;
    padding-bottom: 25px;
}
.conteneur_recherche2 {
    padding: 15px;
    padding-right: 15px;
    background-color: #95CFED;
    width: 100%;
    height: 10%;
    padding-right: 0px;
}
@media(max-width: 767px) {
    #recherche_form input , #recherche_form button {
        text-align: center;
        width: 65px;
        height: 30px;
        font-size: 10px;
    }
    .conteneur_recherche{
        margin:10px auto;
        padding-bottom: 10px;
        font-size: 10px;
        bottom: 0%;
    }
}
@media(min-width:768px) and (max-width: 900px) {
    #recherche_form input , #recherche_form button {
        text-align: center;
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
    .conteneur_recherche{
        margin:10px auto;
        padding-bottom: 10px;
        font-size: 12px;
        bottom: 0%;
    }
}
