<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avis négatif de la part de {{ passagers }} pour le Trajet  {{ trajet.id }}</title>
</head>
    <body>
        <div class="email-container">

            <p><strong>Passager :</strong> {{ passagers }} {{ passagers.email }}</p>
            <p><strong>Chauffeur :</strong> {{ chauffeur.username }} ,
                {% if telephone %}
                    {{ telephone }}
                {% else %}
                    le numéro n'est pas renseigné
                {% endif %}, {{ chauffeur.email }}</p>
            <p><strong>Trajet :</strong> {{ trajet.ville_depart }} à {{ trajet.ville_arrivee }}</p>
            <p><strong>Date de réservation :</strong> {{ trajet.date }}</p>

            <h3>Problème rapporté :</h3>
            <div class="commentaire">
                <p><strong>Commentaire :</strong> {{ commentaire }}</p>
            </div>
            <p><strong>Montant du covoiturage</strong> {{ reservation.prix_par_passager }}€.</p>
            <div class="footer">
        </div>
    </body>
</html>
