<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de la suppression de votre compte Ecoride</title>
</head>

<body>
    <h1>Votre compte Ecoride a été supprimé avec succès</h1>

    <p>Nous confirmons que votre compte Ecoride associé au nom d'utilisateur {{ username }} a été supprimé avec succès.</p>
    <p>Merci de votre confiance.</p>

    <p>L'équipe ECORIDE</p>
</body>
</html>