<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation d'annulation de votre trajet</title>
</head>

<body>
    <h1>Informations sur votre réservation de {{ trajet.ville_depart }} pour {{ trajet.ville_arrivee }} le {{ trajet.date }}</h1>
    <p>Nous sommes au regret de vous informer que {{ trajet.chauffeur }} a annulé son covoiturage .</p>
    <p>Mais ne vous inquieté pas,un remboursement a été dors et déjà été effectué sur votre compte.</p>
    <p>Toutefois, vous pouvez vous connecter en cliquant sur le lien suivant si vous souhaitez remplacer le covoiturage annulé:</p>
    <p><a href="{{ monprofile_url }}">Choisir un nouveau covoiturage</a></p>
<footer>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    <p>Merci de votre compréhension.</p>
    <p>L'équipe d'ECORIDE</p>
</footer>
</body>