.image-principal {
    background-image: url("../../../photo/principal.png");
    background-size:cover ;
    background-position: center;
    min-height: 210px;
}

@media(max-width: 767px) {
    .image-principal {
        min-height: 150px ;
    }
}

@media(min-width:768px) and (max-width: 900px) {
    .image-principal {
        min-height: 150px ;
    }
}
