.presentation{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3, 1fr);
    align-content: center;
    width: 100%;
}

.presentation >div{
    display: flex;
    align-items: center;
    position:relative;
    margin-right: 100px;
    margin-left: 100px;
}

.presentation >div p{
    flex:1;
    padding: 40px;
    flex: 1;
}

.presentation > div:nth-child(3) {
    justify-content: flex-end;
}

.presentation > div:nth-child(1) p, .presentation > div:nth-child(3) p {
    text-align: left;
    font-size: 20px;
}

.presentation > div:nth-child(1) , .presentation > div:nth-child(3)  {
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.presentation > div:nth-child(2) {
    justify-content: flex-start;
    flex-direction: row;
}

.presentation > div:nth-child(2) p {
    text-align: left;
    font-size: 20px;
}

.presentation img{
    width: 45%;
    height: 70%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .presentation > div {
        margin-right: 50px;
        margin-left: 50px;
    }
    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 12px;
    }
    .presentation > div p {
        padding: 20px;
    }
}