.presentation{
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3, 1fr);
}

.presentation >div{
    margin-right: 10%;
    margin-left: 10%;
}

.presentation >div p{
    padding: 40px;
}

.presentation > div:nth-child(1) p, .presentation > div:nth-child(3) p {
    text-align: left;
    font-size: 20px;
}

.presentation > div:nth-child(1) , .presentation > div:nth-child(3)  {
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.presentation > div:nth-child(2) {
    justify-content: flex-start;
    flex-direction: row;
}

.presentation > div:nth-child(2) p {
    text-align: left;
    font-size: 20px;
}
.presentation > div p {
    padding: 20px;
}
.presentation img{
    width: 45%;
    height: 70%;
    object-fit: cover;
}
@media(min-width:320px) and (max-width: 480px) {
    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 12px;
    }
}
@media(min-width:479px) and (max-width: 768px) {
    .presentation > div {
        margin-right: 10%;
        margin-left: 10%;
    }
    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 15px;
    }
    .presentation > div p {
        font-size: 12px;
    }

}
@media(min-width:767px) and (max-width: 1024px) {

    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 16px;
    }
    .presentation > div p {
        font-size: 15px;
    }
}
@media(min-width:1023px) and (max-width: 1200px) {

    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 18px;
    }
    .presentation > div p {
        font-size: 15px;
    }
}
@media(min-width:1199px) and (max-width: 1400px) {

    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 20px;
    }
    .presentation > div p {
        font-size: 17px;
    }
}
@media(min-width:1399px) and (max-width: 1800px) {

    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 26px;
    }
    .presentation > div p {
        font-size: 17px;
    }
}
@media(min-width:1799px) and (max-width: 2000px) {

    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 28px;
    }
    .presentation > div p {
        font-size: 20px;
    }
}

@media(min-width:1999px){
    .presentation > div:nth-child(1) p,.presentation > div:nth-child(2) p,.presentation >  div:nth-child(3) p {
        font-size: 34px;
    }
    .presentation > div p {
        font-size: 20px;
    }
}
