    <form id="affichage_admin" >
        <ul>
            <table>
                <thead>
                    <tr>
                        <th>Jour</th>
                        <th>Total réservation</th>
                        <th>Total gain</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fusion_form in formulaire_pres_remplis_fusion %}
                        <tr>
                            <td>{{ fusion_form.jour }}</td>
                            <td>{{ fusion_form.total_resa }}</td>
                            <td>{{ fusion_form.total_gain }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
    </form>
    <div class="graphique">
        <h2 id="graphique-title">Graphique des réservations et gains</h2>
        {% if graphique %}
            <img id="graphique" src="data:image/png;base64,{{ graphique }}" alt="Graphique des réservations et gains">
        {% else %}
            <p>Aucun graphique disponible.</p>
        {% endif %}
    </div>