
*.log
*.tmp
*.swp
*.pyc
*.pyo
*.pyd
__pycache__/

venv/
logs/

cert.crt
cert.key

.vscode/

read me.txt
env/


.log
.tmp

node_modules/

.egg/

credit_admin.py
credit_sebastien.py
credit_setsuna.py



ECORIDE\main\backend\migrations