form#voiture_form{
    display: flex;
    justify-content: center;
    }

#voiture_form input, #voiture_form select, #voiture_form button{
    text-align: center;
    border-radius: 10px;
}

#voiture_form button{
border-radius: 10px;
}
#voiture_form label{
display: none;
}
input#id_immatriculation {
    border: solid 1px black;
}
div.voiture_mere{
    display: flex;
    gap:10px
}
div.voiture_mere > div {
    display: flex;
    flex-direction: column;
    gap:2px;
}

@media(max-width: 767px){
    #voiture_form input, #voiture_form select, #voiture_form button{
        width: 125px;
        height: 30px;
        font-size: 10px;
        gap:14px;
    }
    div.info_perso{
        font-size: 10px;
        margin-bottom: 5px;
        margin-bottom:10px;
        margin-left:0%;
    }
    div.info_perso > li{
            width: 125px;
            font-size: 10px;
        }
    div.voiture_mere{
        display: flex;
        justify-content: center;
        gap:10px
    }
    div.voiture_mere > div {
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap:2px;
    }
    }

@media(min-width:768px) and (max-width: 900px){
    #voiture_form input, #voiture_form select, #voiture_form button{
            width: 175px;
            height: 30px;
            font-size: 12px;
            gap:14px;
        }
        div.info_perso{
            font-size: 12px;
        }
        div.info_perso > li{
                font-size: 12px;
            }
        div.voiture_mere > div {
            display: flex;
            flex-direction: column;
            gap:4px;
        }
        }

@media(min-width:900px){
    div.voiture_mere {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        div.voiture_mere > div {
            display: flex;
            gap: 2px;
            flex-wrap: wrap;
        }
}