#deconnexion{
    background-color: rgb(246, 175, 175);
    margin-top:20px;
    border-radius: 10px;
}
#deconnexion a {
text-decoration: none;
color: rgb(0, 0, 0);
}
#deconnexion:hover a {
color: white;
background-color:rgb(0, 0, 0) ;
}
#deconnexion:hover  {
color: white;
background-color:rgb(0, 0, 0) ;
}

@media(max-width: 767px){
    #deconnexion {
        width: 125px;
        height: 30px;
        font-size: 12px;
    }
}
@media(min-width:768px) and (max-width: 900px){
    #deconnexion button{
        width: 175px;
        height: 30px;
        font-size: 14px;
    }
}
@media(min-width:768px) and (max-width: 1200px){
    #deconnexion {
        width: 175px;
        height: 30px;
        font-size: 16px;
    }
}

@media(min-width:1200px) and (max-width: 1400px){
    #deconnexion {
        width: 200px;
        height: 30px;
        font-size: 18px;
    }
}

@media(min-width:1400px){
    #deconnexion {
        width: 250px;
        height: 30px;
        font-size: 20px;
    }
}