#role_form{
    display: flex;
    margin-top:10px;
    justify-content: center;
    }

#role_form label{
        display:none;
    }
#role_form select, #role_form button{
        text-align: center;
        border-radius: 10px 10px 10px 10px;
    }
@media(min-width:320px) and (max-width: 767px){
    #role_form select , #role_form button{
        width: 120px;
        font-size: 10px;
        height: 30px;
    }
    p {
        font-size: 14px;
    }
    #role_form{
        margin-bottom: 10px;
    }
}
@media(min-width:768px) and (max-width: 900px){
    #role_form select , #role_form button{
        width: 175px;
        font-size: 12px;
        height: 30px;
    }
    p {
        font-size: 16px;
    }
    #role_form{
        margin-bottom: 15px;
    }
}