
div.info_perso {
    gap: 10px;
    flex-wrap: inherit;
    margin-top: 10px;
    }

#voiture_posseder{
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    list-style-type: none;
    background-color: #6fc2ec;
    padding: 10px;
    margin-bottom: 15px;
}
