footer {
    gap: 30px;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 5px;
}

footer a {
    color: black;
    height: 30px;
}
.footer {
    background-color: #6fc2ec;
    border-radius: 10px;
}

@media(min-width:320px) and (max-width: 500px){
    footer a{
        font-size: 12px;
        width: 80px;
    }
}
@media(min-width:500px) and (max-width: 768px){
    footer a{
        font-size: 15px;
        width: 100px;
    }
}
@media(min-width:768px) and (max-width: 900px){
    footer a{
        font-size: 15px;
        width: 120px;
    }
}
@media(min-width:900px) and (max-width: 1500px){
    footer a{
        font-size: 15px;
        width: 150px;
    }
}
@media(min-width:1500px){
    footer a{
        font-size: 20px;
        width: 200px;
    }
    footer{
        margin-bottom: 10px;
    }
}
