{% extends 'index.html' %}
{% load static %}
{% block style %}
    {% include "css_html/_css_mon_compte.html" %}
{% endblock style %}

{% block principal %}
    {% with role.get_role_display as user_role %}
        {% if user_role == "Chauffeur" %}
            {% elif user_role == "Passager" %}
        {% endif %}

        <div id="menu-tab">
            <div class="page-wrap">
            <div class="tabs position_relative">

                {% for tab in tabs %}
                    {% include "interface_utilisateur/tabs/_"|add:tab|add:".html" %}
                {% endfor %}
            </div>
            </div>
        </div>
    {% endwith %}
{% endblock principal %}
