{% extends 'index.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'css/MonCompte.css' %}" rel="stylesheet">
{% endblock style %}

{% block principal %}
    {% with role.get_role_display as user_role %}
        {% if user_role == "Chauffeur" %}
        {% elif user_role == "Passager" %}
        {% endif %}

<div id="menu-tab">
    <div class="page-wrap">
    <div class="tabs">

    <!--1er onglet trajet-->
    <div class="tab">
        <input
        id="tab-1"
        checked="checked"
        name="tab-group-1"
        type="radio"/>
        <label for="tab-1">
            Trajet
        </label>
    <div class="content">

        {% if user_role == "Chauffeur"%}
            {% if preference is Null %}
                <p>Vous n'avez pas encore défini de préférence pour proposer un covoiturage</p>
            {% else %}
            {% include "interface_utilisateur/utilisateur/onglet_1_trajet/chauffeur/_form_ajout_trajet.html" %}
                {% if trajets %}
                    {% include "interface_utilisateur/utilisateur/onglet_1_trajet/chauffeur/_trajet_proposer.html" %}
                {% else %}
                    <p>Vous n'avez pas encore proposé de trajet</p>
                {% endif %}
            {% endif %}

        {% elif user_role == "Passager" %}
            {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_form_recherche.html" %}
            {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_resultat_recherche.html" %}
            {% if resultat %}
                {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_filtre_trajet.html" %}
            {% endif %}
        {% endif %}

    </div>
    </div>

    <!--Onglet 2 profil-->
    <div class="tab">
        <input
        id="tab-2"
        name="tab-group-1"
        type="radio" />
        <label for="tab-2">
            Profil
        </label>
    <div class="content">

        <div>
            <!-- tout le monde-->
            {% block tout_le_monde %}
                {% include "interface_utilisateur/utilisateur/onglet_2_profil/_tout_monde.html" %}
            {% endblock tout_le_monde %}
        </div>

        <div>
            {% if user_role == "Chauffeur" %}
                {% include "interface_utilisateur/utilisateur/onglet_2_profil/chauffeur/_preference_chauffeur.html" %}

                {% if user_role == "Chauffeur" and preference.get_animaux_display and preference.get_fumeur_display is not None  %}
                    {% include "interface_utilisateur/utilisateur/onglet_2_profil/chauffeur/_voiture_posseder.html" %}
                    {% include "interface_utilisateur/utilisateur/onglet_2_profil/chauffeur/_ajout_voiture.html" %}
                {% else %}
                    <p>Vous n'avez pas le profile nécessaire à l'ajout de véhicule</p>
                {% endif %}
            {% endif %}

            {% block deconnection %}
                {% include "interface_utilisateur/utilisateur/onglet_2_profil/_deconnection.html" %}
            {% endblock deconnection %}
        </div>
    </div>
    </div>

    <!--Onglet 3 covoiturage-->
    <div class="tab">
        <input
        id="tab-3"
        name="tab-group-1"
        type="radio" />
        <label for="tab-3">
            Covoiturage
        </label>
    <div class="content">

        <div>
            {% if user_role == "Chauffeur" %}
                <p>
                    Vous pouvez gérer le{% if trajets|length > 1 %}s{% endif %} statut de
                    {% if trajets|length > 1 %} vos {% else %} votre {% endif %} covoiturage{% if trajets|length > 1 %}s{% endif %} ici.
                </p>
                {% include "interface_utilisateur/utilisateur/onglet_3_covoiturage/chauffeur/_chauffeur_covoiturage.html" %}

            {% elif  user_role == "Passager" %}
                <p>Vous pouvez annuler votre réservation ici</p>
                {% include "interface_utilisateur/utilisateur/onglet_3_covoiturage/passager/_passager_covoiturage.html" %}
            {% else %}
                <p>Vous n'avez pas de réservation en cours</p>
            {% endif %}
        </div>
    </div>
    </div>


    <!--Onglet 4 historique-->
    <div class="tab">
        <input
        id="tab-4"
        name="tab-group-1"
        type="radio" />
        <label for="tab-4">
            Historique
        </label>
    <div class="content">

        <div>
            {% include "interface_utilisateur/utilisateur/onglet_4_historique/_historique.html" %}
        </div>
    </div>
    </div>

    <!--Onglet 5  info utilisateur-->
    <div class="tab">
        <input
        id="tab-5"
        name="tab-group-1"
        type="radio"/>
        <label for="tab-5">
            Adresse
        </label>
    <div class="content">

        <div>
            {% include "interface_utilisateur/utilisateur/onglet_5_adresse/_adresse.html" %}
        </div>
    </div>
    </div>

</div>
{% endwith %}
{% endblock principal %}
