div.content > div > div > ul {
  gap: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #label_historique {
    height: auto;
    width: 110px;
  }
  div.content > div > div > ul {
    padding-left: 15px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #label_historique {
    height: auto;
    width: 120px;
  }
  div.content > div > div > ul {
    padding-left: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #label_historique {
    height: auto;
    width: 130px;
  }
  #label_historique {
    height: auto;
    width: 150px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  #label_historique {
    height: auto;
    width: 150px;
  }
  div.content > div > div > ul {
    padding-left: 25px;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  #label_historique {
    height: auto;
    width: 160px;
  }
  div.content > div > div > ul {
    padding-left: 25px;
  }
}
@media (min-width: 1440px){
  #label_historique {
    height: auto;
    width: 170px;
  }
  div.content > div > div > ul {
    padding-left: 25px;
  }
}
