{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock style %}

{% block fondbase %}
    {% include "interface_utilisateur/reutilisable/_fondbase.html" %}
{% endblock fondbase %}

{% block principal %}
    {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_form_recherche.html" %}
    {% if first_resultat or second_resultat %}
        {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_resultat_recherche.html" %}
        {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_form_filtre_trajet.html" %}
    {% endif %}
    {% if resultat1 or resultat2 %}
        {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_form_filtre_trajet.html" %}
    {% endif %}
{% endblock principal %}

{% block presentation %}
    {% include "interface_utilisateur/reutilisable/_presentation.html" %}
{% endblock presentation %}
