<form id="inscription" action="{% url 'inscription' %}" method="POST">
    {% csrf_token %}
    <h1 class="auth-title">Créer un compte</h1>

    <div class="form-group">
        <label for="identifiant">Identifiant</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="email">Votre Email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="password1">Mot de passe</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="password2">Confirmer le mot de passe</label>
        {{ form.password2 }}
    </div>

    <button type="submit">Créer un compte</button>
</form>