{% extends "index.html" %}

{% load static %}


{% block principal %}
    <div id="contact_form">
        <h2 class="contact-title">
            <span class="icon">📧</span>
            Contactez-nous
        </h2>
    <div id="contact_form">
        <form id="contact_form" method="POST">
            {% csrf_token %}
            <label for="pseudo">Nom :</label>
            {{ contact_form.pseudo }}
            <label for="email_user">Email :</label>
            {{ contact_form.email }}
            <label for="telephone">Téléphone :</label>
            {{ contact_form.telephone }}
            <label for="sujet">Sujet :</label>
            {{ contact_form.sujet }}
            <label for="message">Message :</label>
            {{ contact_form.message }}

            <button type="submit">Envoyer</button>
        </form>
    </div>
    </div>
{% endblock principal %}