{% extends 'index.html' %}
{% load static %}
{% block style %}
    {% include "css_html/_css_mon_compte.html" %}
{% endblock style %}

{% block principal %}
    {% with role.get_role_display as user_role %}
        {% if user_role == "Chauffeur" %}
        {% elif user_role == "Passager" %}
    {% endif %}

        <div id="menu-tab">
            <div class="page-wrap">
            <div class="tabs position_relative">
                <!-- factoring des tab retourner via le backend-->
                <!-- on inclus le tab renvoyer au template de maniere dynamique via add:tab et la boucle -->
                {% for tab in tabs %}
                    {% include "interface_utilisateur/tabs/"|add:tab %}
                {% endfor %}
            </div>
            </div>
        </div>
    {% endwith %}



{% block script_js %}

<!-- JSON inline -->
<script id="trajet5" type="application/json">
    {{ trajet5_json|safe }}
</script>
<script nonce="{{ request.csp_nonce }}">
    const modelsData = JSON.parse('{{ models_data|escapejs }}');
    const voituresData = JSON.parse('{{ voitures_data_json|escapejs }}');
    const annulerUrl = "{% url 'annuler_trajet5' %}";
</script>

<!-- Scripts externes -->
<script src="{% static 'js/ajoute_voiture.js' %}" defer></script>
<script src="{% static 'js/place_voiture.js' %}" defer></script>
<script src="{% static 'js/annuler_trajet.js' %}" defer></script>
<script src="{% static 'js/filtre_trajet.js' %}" defer></script>

{% endblock script_js %}


{% endblock principal %}
