{% load static %}
{% include "admin/moderateur/moderation_email/structure_moderation/_afficher_info_trajet.html" %}

<form method="POST" id="moderation_form">
    {% csrf_token %}
    <div class="generix1 class_aligne_items_center">
        <label for="commentaire">Commentaire :</label>
            {{ moderation_form.commentaire }}
            <p>Valider le commentaire ?</p>
        <label for="avis">Avis :</label>
            {{ moderation_form.avis }}
    </div>
    <p>Que faire du paiement du chauffeur?</p>
    <div id="avis_negatif_bouton" class="class_flex">
        <label for="etat_paiement">État du paiement :</label>
            {{ moderation_form.etat_paiement }}
            <input type="hidden" name="Valider" value="oui">

            <button id="bouton_confirmer" type="submit">
                Valider
            </button>
    </div>
</form>


{% block script_js %}
    <script src="{% static 'js/moderation/validation_negatif_moderation.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'js/moderation/moderation_confirmation.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock script_js %}