
{% include "admin/moderateur/moderation_email/structure_moderation/_afficher_info_trajet.html" %}
    <div class="generix3">
        <form method="POST" id="avis_positif">
            {% csrf_token %}
            <label for="formulaire_avis_positif">Formulaire avis positif :</label><br>
            {{ moderation_positive_form.as_p }}

            <div class="generix3" id="bouton_moderateur">
                <div>
                    <button id="ajouter" type="submit" name="action" value="Ajouter" onclick="return confirm('Confirmer l\'ajout ?');">
                        Ajouter
                    </button>
                </div>
                <div>
                    <button id="refuser" type="submit" name="action" value="Refuser" onclick="return confirm('Confirmer le refus ?');">
                        Refuser
                    </button>
                </div>
            </div>
        </form>
    </div>
