
.information {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    background-color: #6fc2ec;
    border-radius: 15%;
}
.information:hover {
    background-color: rgb(53, 152, 228);
    color: white;
}

.image-principal {
    background-image: url("../photo/principal.png");
    background-size:cover ;
    background-position: center;
    max-height: 600px;
    min-height:400px;
}
body {
    background-color: #95CFED;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

header h1 a {
    text-decoration: none;
    color: black;
    font-size: 48px;
}
header a {
    text-decoration: none;
    color: black;
    margin: 0 30px;
}

footer {
    display:flex;
    justify-content: center;
    gap: 30px;
    padding: 0px;
    bottom: 0;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: black;
}

/*--------------Block PRESENTATION--------------*/

.presentation{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3, 1fr);
    align-content: center;
    width: 100%;
}

.presentation >div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    margin-right: 100px;
    margin-left: 100px;
}

.presentation >div p{
    flex:1;
    text-align: flex-end;
    padding: 40px;
    flex: 1;
}

.presentation > div:nth-child(3) {
    justify-content: flex-end;
}

.presentation > div:nth-child(1) p, .presentation > div:nth-child(3) p {
    text-align: left;
    font-size: 20px;
}

.presentation > div:nth-child(1) , .presentation > div:nth-child(3)  {
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.presentation > div:nth-child(2) {
    justify-content: flex-start;
    flex-direction: row;
}

.presentation > div:nth-child(2) p {
    text-align: left;
    font-size: 20px;
}

.presentation img{
    width: 45%;
    height: 70%;
    object-fit: cover;
}

/*--------------gestion encadrer photo defaut ou profile--------------*/




.photo_profile {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-radius: 15%;
}

/*--------------Formulaire de recherche trajet--------------*/
#recherche_form  {
    display:flex;
    gap:0;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    }
    #recherche_form input{
        text-align: center;
        width: 150px;
        height: 30px;
        }
    #recherche_form select{
        text-align: center;
        width: 150px;
        height: 30px;
        }
    #recherche_form button{
        width: 150px;
        height: 30px;
        }
    #recherche_form label{
        display: none;
        }
button {
        border:1px solid #6fc2ec;
        width:150px;
        height: 30px;
        box-sizing: border-box;
        background-color: #6fc2ec;
    }

button:hover {
    background-color: rgb(53, 152, 228);
    color: white;
}
/*-------------Resulat recherche --------------*/

.resultat{
    display: flex;/*retirer le flex les aligne a l'horizontal*/
    justify-content: center;
    gap: 20px;
}
.resultat ul {
    flex-direction: column;
    gap: 20px;
    list-style-type: none;

}
.resultat li > ul > li > input[type="radio"] {
    display: none;
}
.resultat [type=radio]:checked ~ label {
    background: rgb(53, 152, 228);
    color: white;
    border-bottom: 1px solid white;
    z-index: 1;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    list-style-type: none;
    width: 175px;
    background-color: rgb(53, 152, 228);
    padding: 10px;
    margin-top:20px;
    }

.resultat input[type="radio"]:hover ~ label {
    background-color: rgb(53, 152, 228);
    color: white;
}
.resultat  input[type="radio"]input:hover {
    background-color: rgb(53, 152, 228);
    color: white;
}
.resultat [type=radio]:hover ~ label {
    background-color: rgb(53, 152, 228);
    color: white;
}
.resultat input[type="radio"] {
    display: none;
}

.resultat label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #6fc2ec;
    border: 1px solid #6fc2ec;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    margin-top:20px;
    padding: 10px;
}
/*--------------Formulaire de inscritpion--------------*/

form.form_inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);

}


/*--------------Debut de formatage css--------------*/

/*--------------Formes pour les formulaire--------------*/

button{
    justify-content: center;
    font-size: 16px;
    width:200px;
    height: 40px;
    box-sizing: border-box;
    background-color: #0bd9f0;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
}
input[type="text"], input[type="password"] {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #6fc2ec;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    border-radius: 10px;
}
select {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #6fc2ec;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    border-radius: 10px;
}
input#id_date {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #6fc2ec;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    border-radius: 10px;
}

/*--------------Formes inscritpion--------------*/
/*recupere la forme de recherche_form*/
.recherche_form {
    display:flex;
    gap:0;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    }
    .recherche_form input{
        text-align: center;
        width: 175px;
        height: 28px;
        border: 1px solid #000000;
        border-radius: 10px;
        }
    .recherche_form select{
        text-align: center;
        width: 175px;
        height: 30px;
        }
    .recherche_form button{
        width: 175px;
        height: 30px;
        }
    .recherche_form label{
        display: none;
        }

/*---+ quelque complement---*/
form#recherche_form > input#id_email {
    width: 175px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #6fc2ec;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
}
form#recherche_form > label {
    display: none;
}
form#recherche_form > button {
    width: 175px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
}
a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-top:20px
}
a:hover {
    color: rgb(255, 255, 255);
}
