/* Variables CSS */
:root {
    --color-primary: #7D6E63;
    --color-secondary: #B19A8B;
    --color-background: #FAF3E0;
    --color-hover: rgb(200, 240, 200);
    --color-text: #000000;
    --color-light: #F8F9FA;

    --border-radius-sm: 10px;
    --border-radius-lg: 15%;
    --box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.41);

    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 20px;

    --font-main: Arial, sans-serif;
}

/* Classes utilitaires */
.class_flex { display: flex; }
.display_grid { display: grid; }
.class_flex_wrap { flex-wrap: wrap; }
.class_justify_center { justify-content: center; }
.classe_row_reverse { flex-direction: row-reverse; }
.class_aligne_items_center, .aligne_item_center { align-items: center; }
.aligne_content_center { align-content: center; }
.class_column { flex-direction: column; }
.class_shadow { box-shadow: var(--box-shadow); }
.class_border { border: 1px solid var(--color-text); }
.class_border_radius { border-radius: var(--border-radius-sm); }
.class_box_sizing { box-sizing: border-box; }
.text_decoration_none { text-decoration: none; }
.position_relative { position: relative; }

/* Scrollbar personnalisée */
.class_scroll {
    overflow-y: auto;
    width: 100%;
    scrollbar-color: rgba(150, 200, 150, 1) rgba(220, 220, 220, 0);
    padding-bottom: var(--spacing-md);
}

/* Reset et base */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-main);
    min-height: 100vh;
}

/* Éléments de formulaire */
button, select, input {
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid var(--color-text);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow);
    text-align: center;
}
#recherche_form input,
#recherche_form button,
#reservation_form button,
#form_trajet input,
#form_trajet button,
#filtre_form input,
#filtre_form button,
#filtre_form select,
#selection_trajet button,
#id_places,
#inscription input,
#inscription button,
#login1 input,
#login1 button,
#login2 input,
#login2 button,
#reset_mdp input,
#reset_mdp button,
#validation_email input,
#validation_email button,
#contact_form input,
#contact_form button,
footer a{
    height: 30px;
}
button {
    background-color: var(--color-primary); /* #7D6E63 marron */
    color: white;
}

select { background-color: white; }
input { background-color: white; }

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* États de survol */
input:hover, button:hover, .footer:hover, option:hover, select:hover, selection_trajet:hover,
#recherche_form button:hover, div#reservation > div > form#reservation_form > select:hover {
    background-color: var(--color-hover);
    color: var(--color-text);
}

/* Composants spécifiques */
.resultat input[type="radio"]:hover ~ label#resultat_recherche,
#covoit_proposer input[type="radio"]:hover ~ label,
.conteneur_recherche2 .resultat input[type="radio"]:hover ~ label#resultat_recherche ,  #covoit_proposer:hover, #covoit_reserver:hover{
    background: var(--color-primary);
    color: white;
}

::placeholder { color: var(--color-text); }

.p_deco {
    box-shadow: 6px 6px 10px beige;
    background-color: rgb(120, 180, 120);
    color: blanchedalmond;
    text-shadow: 1px 1px 2px black;
}

h1:hover, a:hover { color: #A7C7A5; }

/* Layout principal */
.image-principal {
    background-size: cover;
    background-position: center;
}

/* Header */
header {
    justify-content: space-between;
    padding: var(--spacing-md) var(--spacing-lg);
}

header h1 a, header a { color: var(--color-text); }

.photo_profile, .photo_default, label#resultat_recherche img {
    border-radius: var(--border-radius-lg);
}

.photo_default {
    height: 120px;
    width: 120px;
    background-image: url("../photo/photo_default.jpg");
    background-size: cover;
}

#logo {
    display: flex;
    margin-left: 4%;
}

/* Section présentation */
.presentation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
}

.presentation > div {
    margin-right: 10%;
    margin-left: 10%;
}

.presentation > div p {
    padding: var(--spacing-lg);
    flex: 1;
}

.presentation img {
    width: 45%;
    height: 70%;
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}
/*connection*/
/* Ajouter ces classes */
.account-link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
}

.admin-link {
    text-decoration: none;
    color: var(--color-text);  /* Si vous voulez garder la couleur par défaut */
}
#inscription label{
    display: none;
}

#inscription ,#login1, #login2 , #reset_mdp, #validation_email{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-text);
    box-shadow: var(--box-shadow);
    height: 50px;
}
/* Footer */
footer {
    gap: 30px;
    padding: 0;
    margin-top: auto;
    margin-bottom: var(--spacing-sm);
}

footer a {
    color: var(--color-text);
    height: 30px;
}
a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}
.footer {
    border-radius: var(--border-radius-sm);
    background-color: var(--color-primary);
    color: white;
}
.footer-link {
    text-decoration: none;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Formulaire de recherche */
#recherche_form {
    gap: 0;
    padding: var(--spacing-md);
    font-size: 16px;
    margin-bottom: var(--spacing-lg);
    }

.conteneur_recherche {
    width: 100%;
}

.conteneur_recherche2 {
    background-color: var(--color-secondary);
    margin-bottom: var(--spacing-sm);
    gap: var(--spacing-md);
}
/* block présentation */
.presentation-flex {
    display: flex;
    position: relative;
    align-items: center;
}

.presentation-flex-reverse {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row-reverse;
}

.label-hidden {
    display: none;
}
/* Résultats */
.resultat {
    gap: var(--spacing-lg);
}

/* Styles des radios et labels */
.resultat input[type="radio"],
form#filtre_form label,
#recherche_form label {
    display: none;
}

/* Style de base pour les labels */
label#resultat_recherche {
    border-radius: var(--border-radius-sm);
    background-color: var(--color-light);
    padding: var(--spacing-md);
}

/* État checked */
.resultat [type=radio]:checked ~ label#resultat_recherche {
    color: var(--color-text);
    border-bottom: 1px solid white;
    background-color: var(--color-hover);
    border-radius: var(--border-radius-sm);
    display: flex;
    z-index: 1;
}

/* Formulaire de contact */
#contact_form {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-lg);
    align-self: center;
}

#contact_form p label { display: none; }

#contact_form button {
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: var(--spacing-md);
}

/* Bouton réserver et formulaire trajet */
#reservation_form button, #form_trajet button {
    background-color: var(--color-primary);
    color: white;
}

/* Media Queries - version complète */
@media(min-width:320px) and (max-width: 480px) {
    :root {
        --logo-size: 80px;
        --font-size-base: 10px;
        --input-width: 60px;
        --image-height: 100px;
    }
    .image-principal {
        background-image: url("../photo/principal_mobile.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #inscription input,
    #inscription button,
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    footer a
        {
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button{
        width: var(--image-height);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-md);
    }
    #resultat_recherche {
        width: 115px;
        height: auto;
        font-size: var(--font-size-base);
        margin-top: var(--spacing-md)
    }
    label#resultat_recherche img {
        width: 95px;
        height: 80px;
    }
    .presentation > div:nth-child(1) p,
    .presentation > div:nth-child(2) p,
    .presentation > div:nth-child(3) p {
        font-size: 12px;
    }
    #info_user {
        font-size: 12px;
        margin-bottom: var(--spacing-sm);
    }
    #resultat_recherche {
        font-size: var(--font-size-base)
    }
    #contact_form input {
        font-size: 12px;
    }
    h1, h2, h3 { font-size: 14px; }
    h4, h5, h6 { font-size: 12px; }
    #contact_form textarea {
        font-size: 12px;
        width: 250px;
        height: var(--image-height)
    }
    #contact_form input,
    #contact_form button {
        font-size: 12px;
        width: 125px;
    }
}

@media(min-width:479px) and (max-width: 767px) {
    :root {
        --logo-size: 80px;
        --font-size-base: 12px;
        --input-width: 85px;
        --input-width--other: 95px;
        --image-height: 150px;
    }
    .image-principal {
        background-image: url("../photo/principal_mobile.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places
        {
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a
    {
        width: var(--input-width--other);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-md);
    }
    #resultat_recherche {
        width: 130px;
        height: auto;
        font-size: var(--font-size-base);
        margin-top: 10px;
    }
    label#resultat_recherche img {
        width: 110px;
        height: 80px;
    }
    .presentation p {
        font-size: 15px;
    }
    #info_user {
        font-size: 16px;
    }
    h1, h2, h3 { font-size: 16px; }
    h4, h5, h6 { font-size: 14px; }
    #contact_form textarea {
        font-size: var(--font-size-base);
        width: 300px;
        height: 100px;
    }
    #contact_form input,
    #contact_form button {
        font-size: var(--font-size-base);
        width: var(--image-height);
    }
}

@media(min-width:767px) and (max-width: 1024px) {
    :root {
        --logo-size: 110px;
        --font-size-base: 14px;
        --input-width: 145px;
        --image-height: 250px;
    }
    .image-principal {
        background-image: url("../photo/principal_mobile.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a
        {
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-md);
    }
    #resultat_recherche {
        width: 140px;
        height: auto;
        margin-top: 10px;
    }
    label#resultat_recherche img {
        width: var(--logo-size);
        height: 80px;
    }
    #resultat_recherche,
    #contact_form input,
    #contact_form button,
    #contact_form textarea  {
        font-size: var(--font-size-base);
    }
    h1, h2, h3 { font-size: 18px; }
    h4, h5, h6 { font-size: 16px; }

    .presentation p{
        font-size: 20px;
    }
    #info_user {
        font-size: 22px;
        margin-bottom: var(--spacing-lg);
    }
    #contact_form textarea {
        width: 350px;
        height: 175px;
    }
    #contact_form input,
    #contact_form button {
        width: 175px;
    }
}

@media(min-width:1023px) and (max-width: 1200px) {
    :root {
        --logo-size: 120px;
        --font-size-base: 20px;
        --input-width: 210px;
        --image-height: 300px;
        --font-size-base--p: 24px;
    }
    .image-principal {
        background-image: url("../photo/principal_mobile.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a       {
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-lg);
    }
    #resultat_recherche {
        width: 150px;
        height: auto;
        font-size: var(--font-size-base);
        margin-top: 10px;
    }
    label#resultat_recherche img {
        width: 130px;
        height: 90px;
    }
    .presentation p ,
    #contact_form input,
    #contact_form button,
    #contact_form textarea{
        font-size: var(--font-size-base--p);
    }
    h1, h2, h3 { font-size: 20px; }
    h4, h5, h6 { font-size: 18px; }
    #info_user {
        font-size: var(--font-size-base--p);
        margin-bottom: var(--spacing-lg);
    }
    div.conteneur_recherche {
        margin-bottom: var(--spacing-lg);
    }
    #contact_form textarea {
        width: 400px;
        height: 150px;
    }
    #contact_form input,
    #contact_form button {
        width: 200px;
    }
}


@media(min-width:1199px) and (max-width: 1400px) {
    :root {
        --logo-size: 120px;
        --font-size-base: 20px;
        --input-width: 200px;
        --image-height: 310px;
        --font-size-base--p: 24px;
    }
    .image-principal {
        background-image: url("../photo/principal.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a       {
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-lg);
    }
    #resultat_recherche {
        width: 150px;
        height: auto;
        font-size: 15px;
        margin-top: var(--spacing-sm);
    }
    label#resultat_recherche img {
        width: 130px;
        height: 90px;
    }
    .presentation p {
        font-size: var(--font-size-base--p);
    }
    h1, h2, h3,#contact_form input,#contact_form button,#contact_form textarea { font-size: 20px; }
    h4, h5, h6 { font-size: 18px; }
    #resultat_recherche {
        font-size: 15px;
    }
    #info_user {
        font-size: var(--font-size-base--p);
        margin-bottom: var(--spacing-lg);
    }
    div.conteneur_recherche > div , #info_user ,#selection_trajet button{
        margin-bottom: var(--spacing-lg);
    }
    #contact_form textarea {
        width: 500px;
        height: var(--input-width);
    }
    #contact_form input,
    #contact_form button {
        width: 200px;
    }
}

@media(min-width:1399px) and (max-width: 1800px) {
    :root {
        --logo-size: 150px;
        --font-size-base: 20px;
        --input-width: 200px;
        --image-height: 400px;
    }
    .image-principal {
        background-image: url("../photo/principal.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a       {
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-lg);
    }
    #resultat_recherche {
        width: 160px;
        height: auto;
        font-size: 16px;
        margin-top: 10px;
    }
    .presentation > div p {
        font-size: 26px;
    }
    label#resultat_recherche img {
        width: 140px;
        height: 100px;
    }
    h1, h2, h3,#contact_form input,#contact_form button,#contact_form textarea, .presentation p { font-size: 20px; }
    h4, h5, h6 { font-size: 20px; }
    div.conteneur_recherche2 {
        margin-bottom: var(--spacing-lg);
    }
    #info_user {
        font-size: 25px;
    }
    div.conteneur_recherche > div , #info_user ,#selection_trajet button{
        margin-bottom: var(--spacing-lg);
    }
    #contact_form textarea {
        width: 500px;
        height: 200px;
    }
    #contact_form input,
    #contact_form button {
        width: 200px;
    }

}

@media(min-width:1799px) and (max-width: 2000px) {
    :root {
        --logo-size: 150px;
        --font-size-base: 24px;
        --input-width: 220px;
        --image-height: 480px;
    }
    .image-principal {
        background-image: url("../photo/principal.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a{
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-lg);
    }
    #resultat_recherche {
        width: 170px;
        height: auto;
        font-size: 18px;
        margin-top: 10px;
    }
    label#resultat_recherche img {
        width: 150px;
        height: 100px;
    }
    h1, h2, h3,#contact_form input,#contact_form button,#contact_form textarea, .presentation p,
    #info_user{
        font-size: 30px;
    }
    div.conteneur_recherche > div , #info_user ,#selection_trajet button{
        margin-bottom: var(--spacing-lg);
    }
    #contact_form textarea {
        width: 500px;
        height: 200px;
    }
    #contact_form input,
    #contact_form button {
        width: 225px;
    }
}

@media(min-width:1999px) and (max-width: 3000px) {
    :root {
        --logo-size: 160px;
        --font-size-base: 25px;
        --input-width: 230px;
        --image-height: 700px;
    }
    .image-principal {
        background-image: url("../photo/principal.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a       {
        width: var(--input-width);
        font-size: var(--font-size-base);
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-lg);
    }
    #resultat_recherche {
        width: 170px;
        height: auto;
        font-size: 18px;
        margin-top: 10px;
    }
    label#resultat_recherche img {
        width: 150px;
        height: 100px;
    }
    h1, h2, h3,#contact_form input,#contact_form button,#contact_form textarea, .presentation p,
    #info_user{
        font-size: 34px;
    }
    div.conteneur_recherche > div , #info_user ,#selection_trajet button{
        margin-bottom: var(--spacing-lg);
    }
    #contact_form textarea {
        width: 500px;
        height: 200px;
    }
    #contact_form input,
    #contact_form button {
        width: 250px;
        height: 30px;
    }
}

@media(min-width:2999px) {
    :root {
        --logo-size: 250px;
        --font-size-base: 36px;
        --input-width: 300px;
        --image-height: 900px;
    }
    .image-principal {
        background-image: url("../photo/principal.avif");
        min-height: var(--image-height);
    }
    #logo, .photo_profile, .photo_default {
        height: var(--logo-size);
        width: var(--logo-size);
    }
    #recherche_form input,
    #recherche_form button,
    #reservation_form button,
    #form_trajet input,
    #form_trajet button,
    #filtre_form input,
    #filtre_form button,
    #filtre_form select,
    #selection_trajet button,
    #id_places,
    #inscription input,
    #inscription button,
    #login1 input,
    #login1 button,
    #login2 input,
    #login2 button,
    #reset_mdp input,
    #reset_mdp button,
    #validation_email input,
    #validation_email button,
    footer a{
        width: var(--input-width);
        font-size: var(--font-size-base);
        height: 45px;
    }
    a {
        font-size: var(--font-size-base);
        margin-top: var(--spacing-lg);
    }
    #resultat_recherche {
        width: 170px;
        height: auto;
        font-size: 18px;
        margin-top: 10px;
    }
    label#resultat_recherche img {
        width: 150px;
        height: 100px;
    }
    #info_user, .presentation p{
        font-size: 50px;
    }
    div.conteneur_recherche > div , #info_user ,#selection_trajet button{
        margin-bottom: var(--spacing-lg);
    }
    h1, h2, h3,#contact_form input,#contact_form button,#contact_form textarea{
        font-size: 28px;
    }
    #contact_form textarea {
        width: 600px;
        height: 300px;
    }
    #contact_form input,
    #contact_form button {
        width: 250px;
        height: 30px;
    }
    .presentation > div {
        margin-right: 25%;
        margin-left: 25%;
    }
    #selection_trajet{
        margin-left:15%;
        margin-right:15%;
    }
    #recherche_form,#login1,#login2,#reset_mdp,#validation_email{
        height: 70px;;
    }
}
