
.class_flex {
    display:flex;
}
.display_grid {
    display: grid;
}
.class_flex_wrap {
    flex-wrap: wrap;
}
.class_justify_center {
    justify-content: center;
}
.class_aligne_items_center {
    align-items: center;
}
.class_column {
    flex-direction: column;
}
.class_shadow {
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
}
.class_border {
    border: 1px solid black;
}
.class_border_radius {
    border-radius: 10px;
}
.class_box_sizing {
    box-sizing: border-box;
}
.text_decoration_none {
    text-decoration: none;
}

.aligne_item_center {
    align-items: center;
}
.aligne_content_center {
    align-content: center;
}
.position_relative {
    position: relative;
}

/*limitation de ligne de code*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

