/*--------------------------Menu--------------------------*/

#menu-tab {
    font-family: 'trebuchet ms', geneva;
	color:black;
    margin-top:10px;
	}
.nav-link.active {
    background-color: rgb(53, 152, 228);
    color: white;
    border: 1px solid rgb(53, 152, 228);
    }
/*--------------Dimensions tableau--------------*/

#page-wrap {
	width: 100%;
    margin: 10px auto;
	}

/*-----------Gestion---des---Onglets--------------*/

    .tab {
    float: left;
    }
    .tab label {
        padding: 10px;
        background: white;
        border: solid 1px black;
        position: relative;
        left: 2px;
        top: 4px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .tab [type=radio] {
    display: none;
    }

    .tab [type=radio]:checked ~ label {
    background: rgb(53, 152, 228);
    color: white;
    border-bottom: 1px solid white;
    z-index: 1;
    }

    .tab [type=radio]:checked ~ label ~ .content {
    z-index: 1;
    }
    .tab [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
    }

/*--------------Contenant----des---onglets--------------*/


.content {
    position: absolute;
    top: 25px;
    left: 0;
    background:  #95CFED;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-radius: 5px 10px 10px 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    overflow-x: scroll;
	overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #000000 #95CFED;
    }
/*--------------reservation---trajet-----------*/



/*--------------Contenu----covoiturage--------------*/
/*--------------Contenu----chauffeur--------------*/

div.content > div > form#etat_form > ul.resultat{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }

div.tab > div.content > div > form#etat_form > ul.resultat > li{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    }

#etat_form > ul.resultat > li.resultat{
    z-index: 0;
}

form#etat_form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }
form#etat_form ul.resultat{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }
form#etat_form ul > li{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    }
form#etat_form > ul >  button#id_statut{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    }
    form#etat_form > label{
        display: none;
    }

/*-----Onglets actifs--------------*/

    [type=radio]:checked ~ label ~ .content {
    z-index: 1;

    }
    [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
    }

/*--------------Responsive conteneur--------------*/

@media(min-width:320px) and (max-width: 480px) {
    div.tabs {
        margin-left: 2%;
        margin-right: 2%;
        }
        #menu-tab {
            font-size: 8pt;
        }

    .tabs {
        min-height: 450px;
        margin-top: 10px;
        }
    .tab label {
        top: 8px;
    }
}
@media(min-width:479px) and (max-width: 768px) {
    div.tabs {
        margin-left: 2%;
        margin-right: 2%;
    }
    .tab label {
        font-size: 12px;
        padding: 10px;
    }
    .tabs {
        min-height: 470px;
        margin-top: 10px;
        }
}
@media(min-width:767px) and (max-width: 900px) {
    div.tabs  {
        margin-left: 4%;
        margin-right: 4%;
    }
    .tab label {
        font-size: 14px;
        padding: 10px;
    }
    .tabs {
        min-height: 550px;
        margin-top: 10px;
        }
}

@media(min-width:899px) and (max-width: 1200px){
    div.tabs {
        margin-left: 8%;
        margin-right: 8%;
    }
    .tab label {
        font-size: 15px;
        padding: 10px;
    }
    .tabs {
        min-height: 550px;
        margin-top: 10px;
        }
}
@media(min-width:1199px){
    div.tabs {
        margin-left: 8%;
        margin-right: 8%;
    }
    .tab label {
        font-size: 15px;
        padding: 10px;
    }
    .tabs {
        min-height: 600px;
        margin-top: 10px;
        }
}
