
/*--------------------------Menu--------------------------*/

#menu-tab {
    font-family: 'trebuchet ms', geneva;
	font-size: 11pt;
	color:black;
    top: 3px;
	}
.nav-link.active {
    background-color: rgb(53, 152, 228);
    color: white;
    border: 1px solid rgb(53, 152, 228);
    }
/*--------------Dimensions tableau--------------*/

#page-wrap {
	width: 100%;
    margin: 10px auto;
	}

/*-----------Gestion---des---Onglets--------------*/

.tabs {
    position: relative;
    min-height: 500px;
    margin-top: 10px;
    }
    .tab {
    float: left;

    }
    .tab label {
    background: white;
    padding: 10px;
    position: relative;
    left: 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.71);
    top: 8px;
    }
    .tab [type=radio] {
    display: none;
    }

div.content {
    display: grid;
    justify-content: center;
    position: absolute;
    top: 28px;
    left: 0;
    background:  #95CFED;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px 10px 10px 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    overflow-x: scroll;
    overflow-y: auto;
    }
    .tab [type=radio]:checked ~ label {
    background: rgb(53, 152, 228);
    color: white;
    border-bottom: 1px solid white;
    z-index: 2;
    }

    .tab [type=radio]:checked ~ label ~ .content {
    z-index: 1;
    }
    .tab [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
    }

/*--------------Contenant----des---onglets--------------*/
::placeholder {
    color: #000000;
    }

.content {
    display:flex;
    justify-content: center;
    position: absolute;
    top: 28px;
    left: 0;
    background:  #95CFED;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px 10px 10px 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    overflow-x: scroll;
	overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #000000 #95CFED;
    }
/*--------------reservation---trajet-----------*/

#selection_trajet{
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    z-index: 1;
}

form#selection_trajet > ul.resultat  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }
form#selection_trajet > ul.resultat > li{
    display: flex;
    }

form#selection_trajet > div {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }




/*--------------Contenu----covoiturage--------------*/
/*--------------Contenu----chauffeur--------------*/

div.content > div > form#etat_form > ul.resultat{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }

div.tab > div.content > div > form#etat_form > ul.resultat > li{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    }

#etat_form > ul.resultat > li.resultat{
    z-index: 0;
}

form#etat_form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }
form#etat_form ul.resultat{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }
form#etat_form ul > li{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    }
form#etat_form > ul >  button#id_statut{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    }
    form#etat_form > label{
        display: none;
    }

/*-----Onglets actifs--------------*/

    [type=radio]:checked ~ label {
    background: rgb(53, 152, 228);
    border-bottom: 1px solid white;
    z-index: 2;

    }
    [type=radio]:checked ~ label ~ .content {
    z-index: 1;

    }
    [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
    }


/*--------------Responsive--------------*/

@media(max-width: 384px){
    div.tabs {
        margin-left: 2%;
        margin-right: 2%;
        }
        #menu-tab {
            font-size: 8pt;
        }

    div.content p{
        font-size: 15px;
        margin:5px;
    }
}
@media(min-width:384px) and (max-width: 500px){
    div.tabs {
        margin-left: 2%;
        margin-right: 2%;
    }
    .tab label {
        font-size: 13px;
        padding: 10px;
        border-radius: 10px;
    }
    div.content p{
        margin:10px;
    }
}
@media(min-width:500px) and (max-width: 900px){
    div.tabs  {
        margin-left: 4%;
        margin-right: 4%;
    }
    .tab label {
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
    }
    div.content p{
        margin:10px;
    }
}
@media(min-width:900px) and (max-width: 1200px){
    div.tabs {
        margin-left: 8%;
        margin-right: 8%;
    }
    .tab label {
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    div.content p{
        margin:10px;
    }
}
@media(min-width:1200px){
    div.tabs {
        margin-left: 8%;
        margin-right: 8%;
    }
    .tab label {
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    div.content p{
        margin:10px;
    }
}
