
#trajet_form select, #trajet_form button, #trajet_form input{
    height: 30px;
    }

#trajet_form button{
    margin-top: 10px;
    }

#trajet_form label{
    display: none;
    }

.flex1{
    margin-top: 10px;
    border-radius: 10px;
    }

div.content > ul {
    gap: 10px;
    padding:0;
    justify-content: center;
}

div.content > ul{
    z-index: 1;
}

div.content > ul > li> input[type=radio]:hover ~ label {
    background-color: rgb(53, 152, 228);
    color: white;
}

div.content > ul > li > input[type="radio"] {
    display: none;
}

@media(min-width: 320px) and (max-width: 480px){
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 88px;
        font-size: 10px;
    }
    p {
        margin:5px;
        font-size: 12px;
    }
    .flex1{
        gap:2px;
    }
    div.content > ul {
        font-size: 10px;
    }

}
@media(min-width: 479px) and (max-width: 768px){
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 140px;
        font-size: 12px;
    }
    p {
        margin: 10px;
        font-size: 16px;
    }
    .flex1{
        gap:4px;
    }
    div.content > ul {
        font-size: 12px;
    }
    #p_pas_a_sa_place{
        margin-top : 10px;
        margin-bottom : 10px;
    }
}
@media(min-width:767px) and (max-width: 1024px) {
    #trajet_form input, #trajet_form select, #trajet_form button {
        width: 150px;
        font-size: 14px;
    }
    p {
        margin: 10px;
        font-size: 14px;
    }
    .flex1{
        gap:6px;
    }
    div.content > ul {
        font-size: 14px;
    }
    p {
        font-size: 18px;
    }
}

@media(min-width:1023px) and (max-width: 1200px) {
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 180px;
        font-size: 14px;
    }
    p {
        margin:14px;
        font-size: 18px;
    }
    .flex1{
        gap:8px;
    }
    #trajet_form{
        margin-bottom: 15px;
    }
    div.content p {
        margin: 15px;
    }
}
@media(min-width:1199px) and (max-width: 1400px) {
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 180px;
        font-size: 14px;
        }
    p {
        margin:20px;
        font-size: 20px;
    }
    .flex1{
        gap:10px;
    }
    div.content > ul {
        font-size: 18px;
    }
}
@media(min-width:1399px) and (max-width: 1800px) {
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 200px;
        font-size: 20px;
        }
    p {
        margin:20px;
        font-size: 22px;
    }
    .flex1{
        gap:10px;
    }
    div.content > ul {
        font-size: 20px;
    }
}
@media(min-width:1799px) and (max-width: 2000px) {
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 200px;
        font-size: 20px;
        }
    p {
        margin:20px;
        font-size: 22px;
    }
    .flex1{
        gap:10px;
    }
    div.content > ul {
        font-size: 20px;
    }
    #p_pas_a_sa_place{
        margin-top : 20px;
        margin-bottom : 20px;
    }
}
@media(min-width:1999px){
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 225px;
        font-size: 20px;
        }
    p {
        margin:20px;
        font-size: 22px;
    }
    .flex1{
        gap:10px;
    }
    div.content > ul {
        font-size: 20px;
    }
}
