#trajet_form select,
#trajet_form button,
#trajet_form input {
  height: 30px;
}
#trajet_form label {
  display: none;
}

.flex1 {
  margin-top: 10px;
  border-radius: 10px;
}

div.content > ul {
  gap: 10px;
}

div.content > ul {
  z-index: 1;
}
#label_proposition {
  background-color: rgb(200, 240, 200);
  color: black;
}

div.content > ul > li > input[type="radio"] {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 88px;
    font-size: 10px;
  }
  p {
    margin: 5px;
    font-size: 12px;
  }
  .flex1 {
    gap: 2px;
  }
  div.content > ul {
    font-size: 10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 140px;
    font-size: 12px;
  }
  p {
    margin: 10px;
    font-size: 16px;
  }
  .flex1 {
    gap: 4px;
  }
  div.content > ul {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 150px;
    font-size: 14px;
  }
  p {
    margin: 10px;
    font-size: 14px;
  }
  .flex1 {
    gap: 6px;
  }
  div.content > ul {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 180px;
    font-size: 14px;
  }
  p {
    margin: 14px;
    font-size: 18px;
  }
  .flex1 {
    gap: 8px;
  }
  #trajet_form {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 180px;
    font-size: 14px;
  }
  p {
    margin: 20px;
    font-size: 20px;
  }
  .flex1 {
    gap: 10px;
  }
  div.content > ul {
    font-size: 18px;
  }
}
@media (min-width: 1440px) and (max-width: 1760px) {
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 200px;
    font-size: 20px;
  }
  p {
    margin: 20px;
    font-size: 22px;
  }
  .flex1 {
    gap: 10px;
  }
  div.content > ul {
    font-size: 20px;
  }
}
@media (min-width: 1760px) and (max-width: 1920px) {
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 200px;
    font-size: 20px;
  }
  p {
    margin: 20px;
    font-size: 22px;
  }
  .flex1 {
    gap: 10px;
  }
  div.content > ul {
    font-size: 20px;
  }
}
@media(min-width:1920px){
  #trajet_form input,
  #trajet_form select,
  #trajet_form button {
    width: 225px;
    font-size: 20px;
  }
  p {
    margin: 20px;
    font-size: 22px;
  }
  .flex1 {
    gap: 10px;
  }
  div.content > ul {
    font-size: 20px;
  }
}
