
#trajet_form select, #trajet_form button, #trajet_form input{
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border:solid 1px black;
    }

#trajet_form button{
    margin-top: 10px;
    }

#trajet_form label{
    display: none;
    }
.flex{
    display: flex;
    flex-direction: column;
    }

.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    border-radius: 10px;
    }

div.content > ul {
    display:flex;
    gap: 10px;
    padding:0;
    justify-content: center;
}
div.content > ul > li {
    display: flex;
}
div.content > ul > li > input [type=radio]:checked ~ label {
    background: rgb(53, 152, 228);
    color: white;
    border-bottom: 1px solid white;
    z-index: 1;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    list-style-type: none;
    width: 175px;
    background-color: rgb(53, 152, 228);
    margin-top:20px;
    padding:10px;
    }

div.content >ul{
    z-index: 1;
}

div.content > ul > li> input[type=radio]:hover ~ label {
    background-color: rgb(53, 152, 228);
    color: white;
}

div.content > ul > li > input[type="radio"] {
    display: none;
}

div.content p {
    display: flex;
    justify-content: center;
    margin: 0;
}
@media(max-width: 767px) {
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 80px;
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    .flex1{
        gap:2px;
    }
}
@media(min-width: 768px) and (max-width: 900px) {
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 120px;
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    .flex1{
        gap:4px;
    }
}

@media(min-width: 900px){
    #trajet_form input, #trajet_form select, #trajet_form button{
        width: 200px;
        font-size: 14px;
    }
    p {
        margin:10px;
        font-size: 14px;
    }
    .flex1{
        gap:8px;
    }
    #trajet_form{
        margin-bottom: 15px;
    }
    div.content p {
        margin: 15px;
    }
}