{% load static %}
    <div  id="account-moderateur" class="class_flex">
        <div>
            <a href="{% url 'MonCompte' %}" class="photo_default">
                <div>
                    Mon compte : {% if credit.credit %}{{ credit.credit|floatformat:2 }} € {% else %}0.00 €{% endif %}
                </div><br>
            </a>
        </div>
        <div>
            <a href="{% url 'moderation_email' %}" class="photo_default">
                Modération
            </a>
        </div>
    </div>