{% load static %}
<link rel="stylesheet" href="{% static 'css/connecte/connection.css' %}">

<form id="inscription" action="{% url 'inscription' %}" method="POST" class="connection effet_ombre">
    {% csrf_token %}
        <label for="identifiant">Identifiant</label>
        {{ form.username }}

        <label for='email'>Votre Email</label>
        {{ form.email }}
        <label for="password1">Mot de passe</label>
        {{ form.password1 }}

        <label for="password2">Confirmer le mot de passe</label>
        {{ form.password2 }}
    </div>
    <button type="submit">Créer un compte</button>
</form>