
{% if trajets %}
    <p class="class_flex class_justify_center" id="p_pas_a_sa_place">Voici  le{{ trajets|pluralize }} trajet{{ trajets|pluralize }} que vous proposez actuellement</p>
        <ul class="class_flex class_flex_wrap">
            {% for trajet in trajets %}
                {% if trajet.etat == "Disponible" or trajet.etat == "En cour" %}
                            <li class="class_flex">
                                <input type="radio" name="trajet" value="{{ trajet.id }}" id="{{ trajet.id }}"/>
                                <label class="position_relation" for="{{ trajet.id }}">
                                    Départ de :<br>{{ trajet.ville_depart }} pour {{ trajet.ville_arrivee }}<br>
                                    Le :<br> {{ trajet.date }}<br>
                                    A: {{ trajet.heure|date:"H\Hi" }}<br>
                                    Voiture : <br>{{ trajet.voiture.marque}} {{ trajet.voiture.modele }}<br>
                                    Moteur : {{ trajet.voiture.type_moteur }}<br>
                                    Prix : {{ trajet.prix }}€<br>
                                    Nombre de place:{% if trajet.places != 0 %} {{ trajet.places }}
                                    {% else %}
                                    complet
                                    {% endif %}<br>
                                    Etat du trajet : {{ trajet.etat }}<br>
                                </label>
                            </li>
                {% endif %}
            {% endfor %}
        </ul>
{% else %}
    <p class="class_flex class_justify_center">Vous n'avez pas encore proposé de trajet</p>
{% endif %}
