<form method="POST" class="recherche_form">
    {% csrf_token %}
        <label for="id_Password">Mot de passe</label>
        {{ form.password }}
        {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
        <button type="submit">Se connecter</button>
</form>
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}

    <a href="{% url 'password_reset' %}">Mot de passe oublier ?</a>
</div>