<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avis positif de la part de {{ trajet.passager }} pour le Trajet  {{ trajet.id }}</title>
</head>
    <body>
        <div class="date_reservation">
            <p>Date de réservation : {{ trajet.date }}</p>
        </div>
        <div class="passager">
            <p>Passager : {{ passager.username }}</p>
        </div>
        <div class="trajet">
            <p >Trajet : {{ trajet.ville_depart }} à {{ trajet.ville_arrivee }}</p>
        </div>
        <div class="chauffeur">
            <p>Chauffeur : {{ chauffeur.username }}</p>
        </div>
        <div class="commentaire">
            <p><strong>Commentaire :</strong> {{ commentaire }}</p>
        </div>
            <p>Pour plus de détails, vous pouvez consulter la page de l'avis sur votre tableau de bord.</p>
        <div class="footer">
        </div>
        </body>
        </html>