<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avis négatif de la part de {{ trajet.passager }}</title>
</head>
    <body>
            <div class="email-container">
                <h2>Avis Négatif - Trajet {{ trajet.id }}</h2>
                <p><strong>Passager :</strong> {{ passager.username }} {{ passager.email }}</p>
                <p><strong>Chauffeur :</strong> {{ chauffeur.username }} , {{ telephone }} , {{ chauffeur.email }}</p>
                <p><strong>Trajet :</strong> {{ trajet.ville_depart }} à {{ trajet.ville_arrivee }}</p>
                <p><strong>Date de réservation :</strong> {{ trajet.date }}</p>

                <h3>Problème rapporté :</h3>
                <p>{{ commentaire }}</p>

                <p>D'un montant de {{ prix_total }}€.</p>

                <p>Pour plus de détails, vous pouvez consulter la page de l'avis sur votre tableau de bord.</p>

                <div class="footer">
                </div>
            </div>
            
        </body>
        </html>