<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prise de contact</title>
</head>

<body>
    <div class="grid-container">
        <div class="email_user">
            <p>Email : {{ email_user }}</p>
        </div>
        <div class="pseudo">
            <p>Nom : {{ pseudo }}</p>
        </div>
        <div class="telephone">
            <p>telephone : {{ telephone }}</p>
        </div>
        <div class="sujet">
            <p>sujet : {{ sujet }}</p>
        </div>
        <div class="commentaire">
            <p>Commentaire : {{ message }}</p>
        </div>
    </div>
</body>
</html>
