<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prise de contact</title>
</head>

<body>
        <li><strong>Email</strong> : {{ email_user }}</li>
        <div class="pseudo">
            <p>Nom : {{ pseudo }}</p>
        </div>
        <li><strong>telephone</strong> : {{ telephone }}</li>
        <li><strong>sujet</strong> : {{ sujet }}</li>
        <div class="commentaire">
            <p>Commentaire :</strong> {{ message }}</p>
        </div>
</body>
</html>
