:root {
  --logo-size: 120px;
  --font-size-base: 20px;
  --font-size-other: 16px;
  --input-width: 165px;
  --image-height: 300px;
}
.image-principal {
  background-image: url("../../photo/principal_mobile.avif");
  min-height: var(--image-height);
}
#logo,
.photo_profile,
.photo_default {
  height: var(--logo-size);
  width: var(--logo-size);
}
#reservation_annuler,
form#etat_form select,
form#etat_form button,
#reservation_form select,
#reservation_form button,
#deux_choix,
#bouton_terminer,
select#id_etat,
#pop_up_confirmation,
form#recherche_form input,
form#recherche_form button,
form#form_trajet input,
form#form_trajet button,
form#filtre_form input,
form#filtre_form button,
form#filtre_form select,
form#selection_trajet button,
select#id_places,
form#inscription input,
form#inscription button,
form#login1 input,
form#login1 button,
form#login2 input,
form#login2 button,
form#reset_mdp input,
form#reset_mdp button,
form#validation_email input,
form#validation_email button,
form#email_filter_form select,
form#email_select_form select,
footer a {
  width: var(--input-width);
  font-size: 16px;
}
#inscription,
#login1,
#login2,
#reset_mdp,
#validation_email {
  height: 55px;
}
#creer_compte,
#mot_de_passe_oublie {
  font-size: var(--font-size-base);
  margin-top: var(--spacing-lg);
}
#resultat_recherche {
  width: 150px;
  height: auto;
  font-size: var(--font-size-other);
  margin-top: 10px;
}
label#resultat_recherche img {
  width: 130px;
  height: 90px;
}
.presentation p,
#contact_form input,
#contact_form button,
#contact_form textarea {
  font-size: var(--font-size-base);
}
h1,
h2,
h3,
h4{
  font-size: var(--font-size-base);
}
#info_user {
  font-size: var(--font-size-base--p);
  margin-bottom: var(--spacing-lg);
}
div.conteneur_recherche {
  margin-bottom: var(--spacing-lg);
}
form#contact_form textarea {
  width: 500px;
  height: 175px;
  font-size: var(--font-size-other)
}
form#contact_form input,
form#contact_form button {
  width: 225px;
  font-size: var(--font-size-other)
}
/*---carte de selection de trajet---*/
div#reservation > div > img.photo_profile,
div#reservation > div {
  width: 300px;
  height: 300px;
}
#prix_trajet,
#chauffeur_trajet,
#info_trajet > div > p {
  font-size: 16px;
  margin: 6px;
}
div#info_trajet {
  margin: 0%;
}
div#div_avis > div > p {
  font-size: 14px;
}

#div_avis {
  width: 90%;
}
#note,
#div_avis,
#preference {
  font-size: 12px;
}
div#div_avis > div,
div#place_a_reserver > div,
div#place_a_reserver {
  margin: var(--spacing-md);
}
div#preference p {
  margin: 4px;
}
#place_a_reserver, #resultat_ecolo , #resultat_non_ecolo {
  font-size: 18px;
}
#creer_compte {
  margin-top: var(--spacing-lg);
  font-size: var(--font-size-base);
}
.presentation > div {
  margin-right: 12.5%;
  margin-left: 12.5%;
}
#recherche_form,
#login1,
#login2,
#reset_mdp,
#validation_email {
  height: 45px;
}

form#trajet_form , #ajout_voiture,#reservation_faite, #covoiturage_proposer, #trajet_proposer, #reservion_fini , #reservation_annulé, #covoiturage_annulé {
  margin-bottom:10px;
}
#bouton_terminer ,#deux_choix {
  margin-bottom: 15px;
}