
<li class="resultat class_flex class_justify_center
">
    <input
        type="radio"
        name="trajet_id"
        value="{{ resultat.id }}"
        id="trajet_{{ resultat.id }}"
        aria-labelledby="label_trajet_{{ resultat.id }}"
        >
    <label
        class="class_column class_justify_center class_shadow class_border"
        for="trajet_{{ resultat.id }}"
        >
        {% if resultat.chauffeur.adresse_user.photo %}
            <img src="{{ resultat.chauffeur.adresse_user.photo.url }}" alt="photo de profil" class="photo_profile">
        {% else %}
            <img src="{{ photo_default_url }}" alt="photo par default" class="photo_profile">
        {% endif %}<br>
        {{ resultat.chauffeur }} :
        {% if trajet.note_moyenne == "Pas encore évalué" %}
        {{ trajet.note_moyenne }}/ 5 ⭐
        {% else %}
            {{ trajet.note_moyenne|floatformat:1 }} / 5 ⭐
        {% endif %}
        <br>
        Départ de :<br>
        {{ resultat.ville_depart }} pour {{ resultat.ville_arrivee }}<br>
        A : {{ resultat.heure|date:"H\H:i"  }}<br>
        le : {{ resultat.date|date:"d/m/Y" }}<br>
        Moteur: {{ resultat.type_moteur }}<br>
        Prix:  {{ resultat.prix }}€<br>
        Places disponibles:
            {% if resultat.places != 0 %}
                {{ resultat.places }}
            {% else %}
                complet
            {% endif %}<br>
        statut: {{ resultat.etat }}<br>
        durée estimé: {{ resultat.temps_trajet }}<br>
    </label>
</li>
</ul>
