
<li class="class_flex"
>
    <input
        type="radio"
        name="trajet_id"
        value="{{ resultat.id }}"
        id="trajet_{{ resultat.id }}"
        aria-labelledby="label_trajet_{{ resultat.id }}"
        >
    <label
        id="resultat_recherche"
        class="class_shadow class_flex class_column class_border"
        for="trajet_{{ resultat.id }}"
        >
        {% if resultat.chauffeur.adresse_user.photo %}
            <img src="{{ resultat.chauffeur.adresse_user.photo.url }}" alt="photo de profil">
        {% else %}
            <img src="{{ photo_default_url }}" alt="photo par default">
        {% endif %}
        {{ resultat.chauffeur }} :
        {% if trajet.note_moyenne == "Pas encore évalué" %}
        {{ trajet.note_moyenne }}/ 5 ⭐
        {% else %}
            {{ trajet.note_moyenne|floatformat:1 }} / 5 ⭐
        {% endif %}
        <br>
        Départ de :<br>
        {{ resultat.ville_depart }} pour {{ resultat.ville_arrivee }}<br>
        A : {{ resultat.heure|date:"H\H:i"  }}<br>
        le : {{ resultat.date|date:"d/m/Y" }}<br>
        Moteur: {{ resultat.voiture.type_moteur }}<br>
        Prix:  {{ resultat.prix }}€<br>
        {% if resultat.places != 0 %}
            Place{{ resultat.places|pluralize }} libre{{ resultat.places|pluralize }} : {{ resultat.places }}
        {% else %}
            complet
        {% endif %}
        statut: {{ resultat.etat }}<br>
        durée estimé: <br>{{ resultat.temps_trajet }}
    </label>
</li>
