<form id="selection_trajet" method="GET" action="{% url 'reservation' %}">
    {% csrf_token %}
    <ul class="resultat">
        {% for resultat in resultat %}
            <li class="resultat">
                <input
                    type="radio"
                    name="trajet_id"
                    value="{{ resultat.id }}"
                    id="trajet_{{ resultat.id }}"
                    aria-labelledby="label_trajet_{{ resultat.id }}"
                    >
                <label
                    for="trajet_{{ resultat.id }}"
                    >
                    {% if resultat.chauffeur.adresse_user.photo %}
                        <img src="{{ resultat.chauffeur.adresse_user.photo.url }}" alt="photo de profil" class="photo_profile">
                    {% else %}
                        <img src="{{ photo_default_url }}" alt="photo par default" class="photo_profile">
                    {% endif %}
                    {{ resultat.chauffeur }}<br>
                    Départ de :<br>
                    {{ resultat.ville_depart }} pour {{ resultat.ville_arrivee }}<br>
                    Le :<br>
                    {{ resultat.date }}<br>
                    A : {{ resultat.heure|date:"H\H:i"  }}<br>
                    Moteur: {{ resultat.type_moteur }}<br>
                    {% if resultat.voiture.type_moteur == 'Electrique' %}
                        <p>Ce trajet est écolgique</p>
                    {% endif %}
                    Prix:  {{ resultat.prix }}€<br>
                    Places disponibles:
                        {% if resultat.places != 0 %}
                            {{ resultat.places }}<br>
                        {% else %}
                            complet
                        {% endif %}<br>
                    statut: {{ resultat.etat }}<br>
                    durée estimé: {{ resultat.temps_trajet }}<br>
                </label>
            </li>
        {% endfor %}
    </ul>
    {% if resultat %}
    <div>
        <button type="submit">Réserver</button>
    </div>
    {% endif %}
</form>