
form#filtre_form label {
    display: none;
}

@media(min-width:320px) and (max-width: 480px) {
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 65px;
        font-size: 10px;
    }
}
@media(min-width:479px) and (max-width: 768px) {
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 100px;
        font-size: 12px;
    }
}
@media(min-width:767px) and (max-width: 1024px) {
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 150px;
        font-size: 12px;
    }
}

@media(min-width:1023px) and (max-width: 1200px) {
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 180px;
        font-size: 14px;
    }
}

@media(min-width:1199px) and (max-width: 1400px) {
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 180px;
        font-size: 14px;
    }
}
@media(min-width:1399px) and (max-width: 1800px) {
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 180px;
        font-size: 20px;
    }
}

@media(min-width:1799px) and (max-width: 2000px) {
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 200px;
        font-size: 20px;
    }
}

@media(min-width:1999px){
    input#id_note , input#id_prix , input#id_temps_trajet, button {
        width: 225px;
        font-size: 20px;
    }
}