.resultat{
    gap: 20px;
}

.resultat [type=radio]:checked ~ label {
    background: rgb(53, 152, 228);
    color: white;
    border-bottom: 1px solid white;
    z-index: 1;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    list-style-type: none;
    background-color: rgb(53, 152, 228);
    }

.resultat input[type="radio"] {
    display: none;
}

.resultat label {
    border-radius: 10px;
    background-color: #6fc2ec;
    padding: 10px;
}

form#selection_trajet > div#bouton_reservation {
    display:flex;
    justify-content: center;
}
form#selection_trajet > div > button {
    margin-bottom:20px;
}

@media(min-width:320px) and (max-width: 480px) {
    button{
        width: 65px;
        height: 30px;
        font-size: 10px;
    }
    .resultat [type=radio]:checked ~ label{
        margin-top: 0px;
    }
    form#selection_trajet > div > button {
        margin-bottom:10px;
    }
}
@media(min-width:320px) and (max-width: 480px) {
    button{
        width: 65px;
        height: 30px;
        font-size: 10px;
    }
    .resultat [type=radio]:checked ~ label{
        margin-top: 0px;
    }
    form#selection_trajet > div > button {
        margin-bottom:10px;
    }
}
@media(min-width:480px) and (max-width: 900px) {
    button{
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .resultat [type=radio]:checked ~ label{
        margin-top: 0px;
    }
    form#selection_trajet > div > button {
        margin-bottom:10px;
    }
}
@media(min-width:901px) and (max-width: 1024px) {
    button{
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
    .resultat [type=radio]:checked ~ label{
        margin-top: 0px;
    }
    form#selection_trajet > div > button {
        margin-bottom:10px;
    }
}
@media(min-width:1025px) and (max-width: 1200px) {
    button{
        width: 175px;
        height: 30px;
        font-size: 14px;
    }
    .resultat [type=radio]:checked ~ label{
        margin-top: 0px;
    }
    form#selection_trajet > div > button {
        margin-bottom:10px;
    }
}
@media(min-width:1201px) and (max-width: 1400px) {
    button{
        width: 200px;
        height: 30px;
        font-size: 14px;
    }
    .resultat [type=radio]:checked ~ label{
        margin-top: 0px;
    }
    form#selection_trajet > div > button {
        margin-bottom:10px;
    }
}
@media(min-width:1401px){
    button{
        width: 225px;
        height: 30px;
        font-size: 20px;
    }
    .resultat [type=radio]:checked ~ label{
        margin-top: 0px;
    }
    form#selection_trajet > div > button {
        margin-bottom:10px;
    }
}