
{% load static %}

<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/MonCompte.css' %}" rel="stylesheet">

<!--onglet 1-->
<!--passager-->
<link href="{% static 'css/espace_perso/onglet_1/passager/mon_compte_trajet/recherche.css' %}" rel="stylesheet">
<link href="{% static 'css/espace_perso/onglet_1/passager/mon_compte_trajet/filtre_trajet.css' %}" rel="stylesheet">
<!--chauffeur-->
<link href="{% static 'css/espace_perso/onglet_1/chauffeur/formulaire_trajet.css' %}" rel="stylesheet">

<!--onglet 2-->
<!--tout le monde-->
<link href="{% static 'css/espace_perso/onglet_2/profil_role/form_role.css' %}" rel="stylesheet">
<link href="{% static 'css/espace_perso/onglet_2/profil_role/deconnection.css' %}" rel="stylesheet">
<!--chauffeur-->
<link href="{% static 'css/espace_perso/onglet_2/profil_role/ajout_voiture.css' %}" rel="stylesheet">
<link href="{% static 'css/espace_perso/onglet_2/profil_role/preference.css' %}" rel="stylesheet">
<link href="{% static 'css/espace_perso/onglet_2/profil_role/voiture_possede.css' %}" rel="stylesheet">
<!--onglet 4-->
<link href="{% static 'css/espace_perso/onglet_4/historique.css' %}" rel="stylesheet">
<!--onglet 5-->
<link href="{% static 'css/espace_perso/onglet_5/adresse.css' %}" rel="stylesheet">
