
{% load static %}

<link href="{% static 'css/accueil.css' %}" rel="stylesheet">
<link href="{% static 'css/MonCompte.css' %}" rel="stylesheet">
<!-- Template trajet partager, pas le choix de les définir sur le template parent-->
<link href="{% static 'css/espace_perso/onglet_1/passager/mon_compte_trajet/filtre_trajet.css' %}" rel="stylesheet">
<link href="{% static 'css/espace_perso/onglet_1/passager/mon_compte_trajet/recherche.css' %}" rel="stylesheet">
<link href="{% static 'css/espace_perso/onglet_1/passager/mon_compte_trajet/resultat.css' %}" rel="stylesheet">
<!--fin template partager-->