

div.content > div >  div > ul {
    gap: 10px;
}


@media(min-width:320px) and (max-width: 480px) {
    #label_historique{
        height: auto;
        width: 110px;
    }
    div.content > div >  div > ul {
        padding-left:15px;
    }
}
@media(min-width:479px) and (max-width: 768px) {
    #label_historique{
        height: auto;
        width: 120px;
    }
    div.content > div >  div > ul {
        padding-left:25px;
    }
}
@media(min-width:767px) and (max-width: 900px) {
    #label_historique{
        height: auto;
        width: 150px;
    }
}
@media(min-width:900px) {
    #label_historique{
        height: auto;
        width: 150px;
    }
}
