div.content > div >  div > ul > li#historique{
    display:flex;
    margin-top: 10px;
    justify-content: center;
    padding: 0;
}

div.content > div >  div > ul {
    padding:0;
    display: flex;
    gap: 10px;
}
div.content > div >  div > li#historique{
    display: flex;
}


@media(min-width:320px) and (max-width: 480px) {
    #label_historique{
        height: auto;
        width: 110px;
    }
}
@media(min-width:479px) and (max-width: 768px) {
    #label_historique{
        height: auto;
        width: 120px;
    }
}
@media(min-width:767px) and (max-width: 900px) {
    #label_historique{
        height: auto;
        width: 150px;
    }
}
@media(min-width:900px) {
    #label_historique{
        height: auto;
        width: 150px;
    }
}
