header {
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

header h1 a {
    color: black;
    font-size: 48px;
}
header a {
    color: black;
    margin: 0 30px;
}

.photo_profile {
    justify-content: center;
    height: 130px;
    border-radius: 15%;
}

.doublon {
    display: flex;
    align-items: center;
}

.doublon2 {
    text-decoration: none;
    flex-direction: column;
}
@media(min-width:320px) and (max-width: 500px){
    header h1 a {
        font-size: 30px;
    }
    header a {
        margin: 0px -10px;
    }
    .photo_profile {
        height: 80px;
    }
}

@media(min-width:499px) and (max-width: 900px) {
    header h1 a {
        font-size: 40px;
    }
    header a {
        margin: 0px -10px;
    }
    .photo_profile {
        height: 100px;
    }
}
@media(min-width:900px) and (max-width: 1200px) {
    header h1 a {
        font-size: 50px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 110px;
    }
}
@media(min-width:1200px) and (max-width: 1400px) {
    header h1 a {
        font-size: 60px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 120px;
    }
}
@media(min-width:1400px) and (max-width: 1800px) {
    header h1 a {
        font-size: 70px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 150px;
    }
}