header {
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 a {
    color: black;
}
header a {
    color: black;
}

.photo_profile {
    border-radius: 15%;
}
#logo {
    display: flex;
}

@media(min-width:320px) and (max-width: 480px) {
    header h1 a {
        font-size: 10px;
    }
    .photo_profile {
        height: 80px;
    }
    #logo {
        height: 90px;
        width: 90px;
    }

}
@media(min-width:479px) and (max-width: 768px) {
    header h1 a {
        font-size: 20px;
    }
    .photo_profile {
        height: 90px;
    }
    #logo {
        height: 100px;
        width: 100px;
    }
}
@media(min-width:767px) and (max-width: 1024px) {
    header h1 a {
        font-size: 30px;
    }
    .photo_profile {
        height: 100px;
    }
    #logo {
        height: 110px;
        width: 110px;
    }
}
@media(min-width:1023px) and (max-width: 1200px) {
    header h1 a {
        font-size: 40px;
    }
    .photo_profile {
        height: 110px;
    }
    #logo {
        height: 120px;
        width: 120px;
        margin-left:35%
    }
}
@media(min-width:1199px) and (max-width: 1400px) {
    header h1 a {
        font-size:50px;
    }
    .photo_profile {
        height: 110px;
    }
    #logo {
        height: 120px;
        width: 120px;
        margin-left:35%

    }
}
@media(min-width:1399px) and (max-width: 1800px) {
    header h1 a {
        font-size: 60px;
    }
    .photo_profile {
        height: 120px;
    }
    #logo {
        height: 150px;
        width: 150px;
        margin-left: 25%;
    }
}
@media(min-width:1799px) and (max-width: 2000px) {
    header h1 a {
        font-size: 70px;
    }
    .photo_profile {
        height: 130px;
    }
    #logo {
        height: 150px;
        width: 150px;
    }
}
@media(min-width:1999px){
    header h1 a {
        font-size: 80px;
    }
    .photo_profile {
        height: 140px;
    }
    #logo {
        height: 160px;
        width: 160px;
    }
}