header {
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 a {
    color: black;
}
header a {
    color: black;
    margin: 0 30px;
}
header a:hover {
    color: white;
}

.photo_profile {
    border-radius: 15%;
}

@media(min-width:320px) and (max-width: 480px) {
    header h1 a {
        font-size: 40px;
    }
    header a {
        margin: 0px -10px;
    }
    .photo_profile {
        height: 100px;
    }
}
@media(min-width:479px) and (max-width: 768px) {
    header h1 a {
        font-size: 50px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 110px;
    }
}
@media(min-width:767px) and (max-width: 1024px) {
    header h1 a {
        font-size: 55px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 110px;
    }
}
@media(min-width:1023px) and (max-width: 1200px) {
    header h1 a {
        font-size: 60px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 120px;
    }
}
@media(min-width:1199px) and (max-width: 1400px) {
    header h1 a {
        font-size: 70px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 120px;
    }
}
@media(min-width:1399px) and (max-width: 1800px) {
    header h1 a {
        font-size: 80px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 150px;
    }
}
@media(min-width:1799px) and (max-width: 2000px) {
    header h1 a {
        font-size: 90px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 150px;
    }
}
@media(min-width:1999px){
    header h1 a {
        font-size: 100px;
    }
    header a {
        margin: 0px 10px;
    }
    .photo_profile {
        height: 150px;
    }
}