{% load static %}

<link href="{% static 'css/index/body/block_presentation.css' %}" rel="stylesheet">

<section id="presentation">
    {% block content %}
        <div class="presentation" >
            <div>
                <img src="{% static 'photo/route_corse1.avif' %}" alt="Un covoiturage pour réduire les émissions de CO2 et favoriser l'écologie">
                <p>Soucieux de l’environnement, EcoRide permet de limiter les émissions de CO₂ en favorisant le covoiturage.</p>
            </div>
            <div>
                <img src="{% static 'photo/budget.avif' %}" alt="Trajet économique pour un budget réduit et des déplacements simplifiés">
                <p>Avec EcoRide, proposé, réservé et organisé vos déplacements en toute simplicité avec la sécurité en plus.</p>
            </div>
            <div>
                <img src="{% static 'photo/covoiturage.avif' %}" alt="Voyager de manière économique et responsable grâce au transport partagé">
                <p>En covoiturage, voyagez avec un portefeuille léger, où que vous soyez.</p>
            </div>
        </div>
        {% endblock content %}
    </section>