{% extends 'index.html' %}
{% load static %}

{% block principal %}
    <form method="POST" id="login1">
        {% csrf_token %}
        <label for="connection2" class="label-hidden">Identifiant</label>
        {{ form.username }}
        <button type="submit">Se connecter</button>
        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </form>
    <a id="creer_compte" href="{% url 'inscription' %}">Créer un compte</a>
{% endblock principal %}
