{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
{% endblock style %}

{% block principal %}
    <form method="POST" id="login1">
        {% csrf_token %}
        <h1 class="auth-title">Connexion</h1>
        <label for="connection2" class="label-hidden">Identifiant</label>
        {{ form.username }}
        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit">Se connecter</button>
        <a id="creer_compte" href="{% url 'inscription' %}">Créer un compte</a>
    </form>
{% endblock principal %}
