{% load static %}

<!-- En-tête : informations -->
<div id="info_places" class="class_flex class_column class_aligne_items_center p_deco">
    <p>{{ trajet.places }} places restantes</p><br>
    <p>Combien de places voulez-vous réserver?</p><br>
</div>

<!-- Formulaire -->
<div class="class_flex class_justify_center">
    <form id="reservation_form" method="POST">
        {% if user.is_authenticated %}
            {% csrf_token %}
            <div id="place_a_reserver" data-max-places="{{ trajet.places|default:1 }}">
                {{ reservation_form.places }}
                <input type="hidden" name="Reserver" value="oui">
                <button id="pop_up_confirmation" type="submit" onclick="return confirm('Confirmer la réservation?');">
                    Réserver
                </button>
            </div>
        {% else %}
            <a href="{% url 'inscription' %}" class="btn btn-primary">
                Inscrivez ou connectez-vous pour réserver
            </a>
        {% endif %}
    </form>
</div>

<script src="{% static 'js/places_reservation.js' %}"></script>
