<div>
    <li class="resultat class_flex">
        <input
            type="radio"
            name="trajet_id"
            value="{{ tjt.id }}"
            id="trajet_{{ tjt.id }}"
            aria-labelledby="label_trajet_{{ tjt.id }}"
            >
            <label
            id ="covoit_proposer"
            for="trajet_{{ tjt.id }}">
            Trajet :{{ tjt.ville_depart }} -> {{ tjt.ville_arrivee }}<br>
            Le {{ tjt.date }}<br>
            À : {{ tjt.heure|date:"H\H:i" }}<br>
            {% if tjt.chauffeur.adresse_user.photo %}
                <img src="{{ tjt.chauffeur.adresse_user.photo.url }}" alt="photo de profil" class="photo_profile">
            {% else %}
                <img src="{{ photo_default_url }}" alt="photo par défaut" class="photo_profile">
            {% endif %}<br>
            Voiture : <br>{{ tjt.voiture.marque }} {{ tjt.voiture.modele }}<br>
            Prix : {{ tjt.prix }}€<br>
            Places libres:
            {% if tjt.places %}
            {{ tjt.places }}
            {% else %}
            complet
            {% endif %}<br>
            Etat: {{ tjt.etat }}<br>
            </label>
    </li>
</div>