
<form id="etat_form" method="post">
    {% csrf_token %}
    <ul class="resultat">
        {% for tjt in trajets %}
            {% if tjt.etat == "Disponible" or tjt.etat == "En cours" %}
                <li class="resultat">
                    <input
                        type="radio"
                        name="trajet_id"
                        value="{{ tjt.id }}"
                        id="trajet_{{ tjt.id }}"
                        aria-labelledby="label_trajet_{{ tjt.id }}"
                    >
                    <label for="trajet_{{ tjt.id }}">
                        Départ de :<br>{{ tjt.ville_depart }} pour {{ tjt.ville_arrivee }}<br>
                        Le :<br> {{ tjt.date }}<br>
                        À : {{ tjt.heure }} heure<br>
                        Voiture choisie : <br>{{ tjt.voiture.marque }} {{ tjt.voiture.modele }}<br>
                        Prix du covoiturage : {{ tjt.prix }}€<br>
                        Places disponibles :
                        {% if tjt.places %}
                        {{ tjt.places }}
                        {% else %}
                        complet
                        {% endif %}<br>
                        Etat: {{ tjt.etat }}<br>
                    </label>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if etat_form %}
        <label for="etat_trajet"></label>
        {{ etat_form.statut }}
        <button id="id_statut" type="submit" name="form_soumis" value="etat_form">
            Modifier le statut
        </button>
    {% endif %}
</form>