form#reservation_form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }
form#reservation_form > label{
    display: none;
    }
form#reservation_form ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    z-index: 0;
    }
form#reservation_form ul > li{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    }
    #reservation_form select {
        text-align: center;
    }
