{% load static %}
<link href="{% static 'css/espace_perso/onglet_2/profil_role/preference.css' %}" rel="stylesheet">

<p>Vos preferences actuel sont :</p>
<div class="preference_css">
    <div>
        {{ preference.get_fumeur_display }},
    </div>
    <div>
        {{ preference.get_animaux_display }},
    </div>
    <div>
        {{ preference.get_exigences_particulieres_display }},
    </div>
    <div>
        {{ preference.exigences_personnelles }}.
    </div>
</div>
<form id="preference_form" method="post">
    {% csrf_token %}
        <label for="preferences_form">Préférences</label>
            {{ preference_form.fumeur }}
            <label for="preferences_form">Animaux</label>
            {{ preference_form.animaux }}
        <label for="preferences_form">Exigences personnelles</label>
            {{ preference_form.exigences_particulieres }}
            <label for="preferences_form">Animaux</label>
            {{ preference_form.exigences_personnelles }}
        <button id="button_preferences" type="submit" name="form_soumis" value="preference_form">Modifier mes préférences</button>
    </form>
