<form method="POST" id="moderation_form">
    {% csrf_token %}
    <label for="commentaire">Commentaire :</label><br>
    {{ moderation_form.commentaire }}
    <div id="avis_negatif_bouton" class="class_flex">
        <label for="etat_paiement">État du paiement :</label><br>
        {{ moderation_form.etat_paiement }}

    <form method="POST">
        {% csrf_token %}
            <input type="hidden" name="Valider" value="oui">
            <button id="bouton_confirmer" type="submit" onclick="return confirm('Confirmer votre choix ?');">
                Valider
            </button>
        </div>
    </form>
</form>
