<div id="note_commentaire" class="class_flex class_column">
    <div id="div_avis" >
        <div class="class_flex p_deco class_justify_center">
            <p>Avis</p>
        </div>
        <div class="class_flex class_aligne_items_center class_column">
            {% for commentaire in commentaires %}
                <p id="avis">{{ commentaire.passager__username }} : {{ commentaire.commentaire }}</p>
            {% empty %}
                <p>Aucun commentaire</p>
            {% endfor %}
        </div>
        <div class="class_flex p_deco class_justify_center">
            <p>Note</p>
        </div>
        <div class="class_flex class_aligne_items_center class_column">
            {% if note_chauffeur.get_note_moyenne %}
            <p  id="note">{{  note_chauffeur.get_note_moyenne|floatformat:1 }}/ 5 ⭐ </p>
            {% else %}
                <p id="note">Aucune note</p>
            {% endif %}
        </div>
        <div class="class_flex p_deco  class_aligne_items_center class_justify_center">
            <p>préférences</p>
        </div>
        <div id="preference" class="class_flex class_aligne_items_center class_column">
            {% if trajet.chauffeur.preference %}
            <p>{{ trajet.chauffeur.preference.get_fumeur_display }}</p>
            <p>{{ trajet.chauffeur.preference.get_animaux_display }}</p>
            <p>{{ trajet.chauffeur.preference.get_exigences_particulieres_display }}</p>
            <p>{{ trajet.chauffeur.preference.exigences_personnelles }}</p>
            {% else %}
                <p>Aucune preference</p>
            {% endif %}
        </div>
    </div>
</div>