<div id="place_a_reserver" class="class_flex class_column class_aligne_items_center p_deco">
    <p>{{ trajet.places }} places restantes</p><br>
    <p>Combien de places voulez-vous réserver?</p><br>
</div>
<div class="class_flex class_justify_center">
    <form id="reservation_form" method="POST">
        {% if user.is_authenticated %}
            {% csrf_token %}
                {{ reservation_form.places }}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="Reserver" value="oui">
                    <button id="pop_up_confirmation" type="submit" onclick="return confirm('Confirmer la réservation?');">
                        Réserver
                    </button>
                </form>
        {% else %}
            <a href="{% url 'inscription' %}"class="btn btn-primary">Inscrivez ou connectez-vous pour réserver</a>
        {% endif %}
    </form>
</div>