{% load static %}

<h1 class="class_flex class_justify_center p_deco">Proposez un covoiturage</h1>
<form id="trajet_form" method="POST" action="{{ queryString|default:"" }}">
    {% csrf_token %}

    <label for="id_depart">Ville de départ</label>
    {{ trajet_form.ville_depart }}

    <label for="id_arrivee">Ville d'arrivée</label>
    {{ trajet_form.ville_arrivee }}

    <label for="id_date">Date de départ</label>
    {{ trajet_form.date }}

    <label for="id_voiture">Voiture</label>
    {{ trajet_form.voiture }}

    <label for="id_places">Nombre de places</label>
    {{ trajet_form.places }}

    <label for="id_heure">Heure de départ</label>
    {{ trajet_form.heure }}

    <label for="prix">Prix</label>
    {{ trajet_form.prix }}

    <label for="temps_trajet">Durée estimée</label>
    {{ trajet_form.temps_trajet }}

    <button id="proposition" type="submit" name="form_soumis" value="trajet_form">Proposez un trajet</button>
</form>

{% block script_js %}
    <script nonce="{{ request.csp_nonce }}">const voituresData = JSON.parse('{{ voitures_data_json|escapejs }}');</script>
    <script src="{% static 'js/espace_perso/place_voiture.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock script_js %}