
:root {
  --container-main-width: clamp(200px, 25vw, 450px);
  --content-max-width: 1000px;
  --content-side-padding: clamp(10px, 5vw, 40px);
  --deco-font-size: clamp(12px, 1.5vw, 16px);
  --deco-gap: clamp(5%, 2vw, 3%);
  --deco-height: clamp(30px, 5vh, 30px);
  --deco-margin-top: clamp(10px, 2vw, 20px);
  --deco-radius: 10px;
  --deco-width: clamp(110px, 20vw, 225px);
  --font-size-base: clamp(8px, 2vw, 20px);
  --font-size-base--p: clamp(18px, 3vw, 22px);
  --font-size-dynamic: clamp(10px, 1.2vw, 18px);
  --font-size-other: clamp(10px, 1.2vw, 16px);
  --font-size-small: clamp(10px, 1.2vw, 16px);
  --form-font-size: clamp(10px, 1.5vw, 15px);
  --form-height: clamp(30px, 5vh, 30px);
  --form-width: clamp(120px, 20vw, 225px);
  --image-height: clamp(90px, 18vw, 800px);
  --img-flex-height: clamp(80px, 6vw, 120px);
  --img-flex-width: clamp(110px, 9vw, 180px);
  --img-size-large: clamp(130px, 14vw, 180px);
  --img-size-small: clamp(120px, 12vw, 160px);
  --img-square-size: clamp(70px, 10vw, 180px);
  --input-margin-left: clamp(-55%, -10vw, -55%);
  --input-width: clamp(60px, 12vw, 220px);
  --input-width--other: clamp(70px, 18vw, 95px);
  --logo-size: clamp(60px, 8vw, 200px);
  --photo-gap: clamp(5px, 1.5vw, 10px);
  --photo-height: clamp(95px, 14vw, 175px);
  --photo-margin-top: clamp(10px, 3vw, 30px);
  --photo-radius: 15%;
  --photo-width: clamp(120px, 18vw, 225px);
  --spacing-lg: clamp(15px, 3vw, 25px);
  --spacing-md: clamp(8px, 2vw, 10px);
  --spacing-sm: clamp(4px, 1vw, 10px);
  --tab-content-width: clamp(150px, 12vw, 200px);
  --tab-label-top-offset: clamp(3px, 0vw, 5vw);
  --tab-vertical-margin: clamp(10px, 1.5vw, 30px);
  --tabs-margin-side: clamp(2%, 3vw, 20%);
  --tabs-min-height: clamp(450px, 90vh, 700px);

  /* Ajout variables pour formulaire trajet */
  --trajet-input-size: clamp(80px, 25vw, 250px);
  --trajet-font-size: clamp(10px, 1.2vw, 20px);
  --trajet-button-font-size: clamp(12px, 1.8vw, 18px);
  --trajet-gap: clamp(5px, 2vw, 15px);

  /* ROLE FORM */
  --role-width: clamp(150px, 14vw, 225px);
  --role-font-size: clamp(10px, 1.4vw, 20px);
  --role-height: 30px;
  --role-margin-top: clamp(10px, 2vw, 20px);
  --role-margin-bottom: clamp(10px, 2vw, 25px);
  --role-border-radius: 10px;

  --p-font-size: clamp(14px, 2.2vw, 20px);

  /* VOITURE FORM */
  --voiture-input-width: clamp(110px, 12vw, 225px);
  --voiture-font-size: clamp(10px, 1.2vw, 16px);
  --voiture-input-height: 30px;
  --voiture-form-gap: 14px;
  --voiture-mere-gap: 10px;
  --voiture-child-gap-default: 2px;
  --voiture-child-gap-large: 4px;

  /* PREFERENCE FORM */
  --preference-width: clamp(120px, 12vw, 225px);
  --preference-font-size: clamp(10px, 1.2vw, 16px);
  --preference-textarea-font: clamp(10px, 1.4vw, 16px);
  --preference-height: 30px;
  --preference-gap-form: clamp(2px, 1vw, 4px);
  --preference-gap-block: clamp(10px, 1.5vw, 20px);
  --preference-margin-block: clamp(10px, 2vw, 20px);
  --preference-font-size-block: clamp(12px, 2vw, 20px);

  /* INFO PERSO */
  --info-perso-gap: clamp(10px, 2vw, 20px);
  --info-perso-margin-top: clamp(5px, 1vw, 15px);
  --info-perso-li-width: clamp(111px, 13vw, 200px);
  --info-perso-font-size: clamp(10px, 1.5vw, 16px);

  /* Historique */
  --label-historique-width: clamp(150px, 10vw, 220px);
  --ul-padding-left: clamp(10px, 3vw, 25px);
  --font--zine-historique: clamp(10px, 1.2vw, 18px);
}


h1,
h2,
h3,
h4 {
  margin: var(--spacing-md);
  font-size: clamp(12px, 2vw, 24px);
}

#menu-tab {
  font-family: "trebuchet ms", geneva;
  color: black;
  margin-top: var(--spacing-md);
  font-size: var(--font-size-small);
}

#page-wrap {
  width: 100%;
  margin: var(--spacing-md) auto;
}

.tab {
  float: left;
}

.tab label {
  padding: var(--spacing-md);
  background: white;
  border: solid 1px black;
  position: relative;
  left: 2px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px beige;
  font-size: var(--font-size-small);
  top: var(--tab-label-top-offset);
}

.tab [type="radio"] {
  display: none;
}

.tab [type="radio"]:checked~label {
  background-color: rgb(200, 240, 200);
  color: black;
  z-index: 0;
  border-bottom: 1px solid white;
}

.tab [type="radio"]:checked~label~.content {
  z-index: 1;
}

.tab [type="radio"]:checked~label~.content>* {
  opacity: 1;
  transform: translateX(0);
}

.content {
  position: absolute;
  top: clamp(15px, 3vw, 25px);
  margin-bottom: var(--spacing-lg);
  left: 0;
  background: #b19a8b;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 5px 10px 10px 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.41);
  overflow-y: auto;
}

#adresse_form option,
#trajet_form option,
form#etat_form option,
#id_etat_reservation option,
#role_form option,
#voiture_form option,
#preference_form option {
  background-color: rgb(200, 240, 200);
  border: solid 3px black;
}

#label img,
#covoit_proposer img,
#label_proposition img {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: var(--spacing-md);
  border-radius: 15%;
  width: var(--img-flex-width);
  height: var(--img-flex-height);
}

label#resultat_recherche img,
#covoit_reserver img,
#historique img {
  margin-right: var(--spacing-md);
  width: var(--img-square-size);
  height: var(--img-square-size);
}

#historique,
#resultat_recherche,
#covoit_reserver {
  height: auto;
  min-width: var(--container-main-width);
  font-size: var(--font-size-dynamic);
}

#label_proposition{
  height: auto;
  min-width: var(--tab-content-width);
}

#avis_positif {
  height: auto;
}

#modification_satut {
  margin-bottom: 30px;
}

div.tabs {
  margin-top: var(--tab-vertical-margin);
  margin-bottom: var(--tab-vertical-margin);
  margin-left: var(--tabs-margin-side);
  margin-right: var(--tabs-margin-side);
}

.tabs {
  min-height: var(--tabs-min-height);
}

#deconnexion,
#suppression-compte {
  border-radius: var(--deco-radius);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#suppression-compte {
  background-color: rgb(200, 0, 0);
}
#suppression-compte:hover {
  background-color: black;
  color: rgb(200, 0, 0);
}

#deconnexion {
  background-color: rgb(255, 165, 0);
}
#deconnexion a {
  color: black;
}
#deconnexion:hover {
  background-color: rgb(208, 9, 2);
}
#deconnexion:hover a {
  color: white;
}



#deconnection_user {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: var(--border-radius-sm);
  margin-top: var(--deco-gap);
}

/* ---- Début du style adresse.css ---- */

/* Affichage de l'input file */
input#id_photo {
  display: flex;
}

/* Image de profil */
div.photo-parent > div > img {
  border-radius: var(--photo-radius);
  margin-left: 51.5%;
  margin-top: var(--photo-margin-top);
  width: var(--photo-width);
  height: var(--photo-height);
}

/* Container secondaire */
.photo-fille {
  gap: var(--photo-gap);
  margin-top: 10px;
}

#adresse_form label,
#adresse_form img textarea,
form#adresse_form a {
  display: none;
}

/* Style du bouton fichier */
input[type="file"]::file-selector-button {
  display: flex;
  background-color: #ffffff;
  color: rgb(1, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: var(--form-width);
  height: var(--form-height);
  font-size: var(--form-font-size);
}

input[type="file"]::file-selector-button:hover {
  background-color: rgb(200, 240, 200);
}

#adresse_form input,
#adresse_form select,
#adresse_form button,
#deconnexion,
#suppression-compte {
  width: var(--form-width);
  height: var(--form-height);
  font-size: var(--form-font-size);
  border: solid black 1px;
}

/* Styles formulaire trajet */
#trajet_form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--trajet-gap);
  justify-items: center;
  align-items: center;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-sm);
}

#trajet_form input,
#trajet_form select,
#trajet_form button {
  width: var(--trajet-input-size);
  height: 30px;
  font-size: var(--trajet-font-size);
}

#trajet_form button {
  font-size: var(--trajet-button-font-size);
}

#trajet_form label {
  display: none;
}

#label_proposition {
  background-color: rgb(200, 240, 200);
  color: black;
}

div.content > ul {
  gap: var(--trajet-gap);
  font-size: var(--trajet-font-size);
  z-index: 1;
}

div.content > ul > li > input[type="radio"] {
  display: none;
}

/* ROLE FORM */
#role_form {
  margin-top: var(--role-margin-top);
  margin-bottom: var(--role-margin-bottom);
}
#role_form label {
  display: none;
}


#role_form select,
#role_form button {
  width: var(--role-width);
  height: var(--role-height);
  font-size: var(--role-font-size);
  border-radius: var(--role-border-radius);
}
p {
  font-size: var(--p-font-size);
}

/* VOITURE FORM */
#voiture_form input,
#voiture_form select,
#voiture_form button {
  width: var(--voiture-input-width);
  height: var(--voiture-input-height);
  font-size: var(--voiture-font-size);
  gap: var(--voiture-form-gap);
  border-radius: 10px;
}
#voiture_form label {
  display: none;
}
div.voiture_mere {
  display: flex;
  justify-content: center;
  gap: var(--voiture-mere-gap);
  flex-direction: row;
  flex-wrap: wrap;
}
div.voiture_mere > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--voiture-child-gap-default);
}

/* PREFERENCE FORM */
textarea#id_exigences_personnelles {
  font-size: var(--preference-textarea-font);
}
#preference_form {
  margin-top: var(--preference-margin-block);
  margin-bottom: var(--preference-margin-block);
  display: flex;
  flex-wrap: wrap;
  gap: var(--preference-gap-form);
  align-items: center;
}
#preference_form label {
  display: none;
}

select#id_etat,
#deux_choix,
#preference_form input,
#preference_form select,
#preference_form button,
#reservation_form select,
#reservation_form button,
textarea#id_exigences_personnelles {
  width: var(--preference-width);
  height: var(--preference-height);
  font-size: var(--preference-font-size);
  margin:clamp(5px, 1vw, 15px);
}
.preference_css {
  display: flex;
  flex-direction: column;
  gap: var(--preference-gap-block);
  font-size: var(--preference-font-size-block);
  margin: var(--preference-margin-block);
}
.preference_css :nth-child(-n + 4) {
  justify-content: center;
  margin-top: var(--preference-margin-block);
}

/* INFO PERSO */
div.info_perso {
  display: flex;
  flex-wrap: wrap;
  gap: var(--info-perso-gap);
  margin-top: var(--info-perso-margin-top);
  justify-content: center;
  font-size: var(--info-perso-font-size);
}
div.info_perso > li {
  width: var(--info-perso-li-width);
  font-size: var(--info-perso-font-size);
}

/* VOITURE POSSEDER */
#voiture_posseder {
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  list-style-type: none;
  background-color: rgb(200, 240, 200);
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 6px 6px 10px beige;
}

/* HISTORIQUE */
#label_historique {
  height: auto;
  width: var(--label-historique-width);
  font-size: var(--font--zine-historique);
}

div.content > div > div > ul {
  gap: 10px;
  padding-left: var(--ul-padding-left);
}

@media (min-width: 768px) {
  div.voiture_mere {
    flex-direction: column;
    justify-content: center;
  }
  div.voiture_mere > div {
    flex-direction: row;
    gap: var(--voiture-child-gap-large);
  }

  .preference_css {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
