
<li class="class_flex">
    <input
        type="radio"
        name="trajet_id"
        value="{{ resultat.id }}"
        id="trajet_{{ resultat.id }}"
        aria-labelledby="label_trajet_{{ resultat.id }}"
        >
    <label
        id="resultat_recherche"
        class="class_shadow class_flex class_border"
        for="trajet_{{ resultat.id }}"
        >
        {% if resultat.chauffeur.adresse_user.photo %}
            <img src="{{ resultat.chauffeur.adresse_user.photo.url }}" alt="photo de profil">
        {% else %}
            <img src="{{ photo_default_url }}" alt="photo par default">
        {% endif %}
        {% if resultat.chauffeur%}
        {{ resultat.chauffeur }} :
        {% else %}
        utilisateur supprimé
        {% endif %}
        {% if resultat.note_chauffeur %}
        {{ resultat.note_chauffeur|floatformat:1 }} / 5 ⭐
        {% else %}
        pas de note
        {% endif %}<br>
        Trajet :
        {{ resultat.ville_depart }} -> {{ resultat.ville_arrivee }}<br>
        A : {{ resultat.heure|date:"H\H:i"  }}<br>
        le : {{ resultat.date|date:"d/m/Y" }}<br>
        voiture :{{ resultat.voiture.marque }} {{ resultat.voiture.modele }}<br>
        Moteur : {{ resultat.voiture.type_moteur }}<br>
        Prix :  {{ resultat.prix }}€<br>
        {% if resultat.places != 0 %}
            Place{{ resultat.places|pluralize }} libre{{ resultat.places|pluralize }} : {{ resultat.places }}
        {% else %}
            complet
        {% endif %}<br>
        statut: {{ resultat.etat }}<br>
        durée estimé : {{ resultat.temps_trajet }}
    </label>
</li>
