<!-- Conteneur AJAX où les résultats seront injectés -->
<div id="resultats">
    <form id="selection_trajet" method="GET" action="{% url 'reservation' %}">
        <div class="conteneur_recherche">
            <h2>Covoiturage non écologique</h2>
            <div class="conteneur_recherche2">
                <ul class="resultat">
                    {% for resultat in first_resultat %}
                        {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_contenu_resultat.html" %}
                    {% empty %}
                        <p id="resultat_non_ecolo">0 résultat. Essayez une autre date !</p>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="conteneur_recherche">
            <h2>Covoiturage écologique</h2>
            <div class="conteneur_recherche2">
                <ul class="resultat">
                    {% for resultat in second_resultat %}
                        {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_contenu_resultat.html" %}
                    {% empty %}
                        <p id="resultat_ecolo">0 résultat. Essayez une autre date !</p>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if first_resultat or second_resultat %}
            <div class="form-actions">
                <button type="submit" class="btn btn--primary">Réserver</button>
            </div>
        {% endif %}
    </form>
</div>
