<h1 class="vehicle-title">
    <span class="icon"></span>
        Modifier le statut de
    {% if trajets|length > 1 %} vos {% else %} votre {% endif %} covoiturage{% if trajets|length > 1 %}s{% endif %}:
</h1>
<div>
    {% if trajet3 %}
        <h2 class="vehicle-title">
            <span class="icon"></span>
            Vos covoiturages cours
        </h2>
        <form class="display_grid" id="trajet_terminer_form" action="{{ queryString|default:"" }}" method="post">
            {% csrf_token %}
                {% include "interface_utilisateur/utilisateur/onglet_3_covoiturage/covoiturage_lancer/_partie_covoiturage_lancer.html" %}
                <label for="etat_trajet">changement de statut</label>
                    {{ trajet_terminer_form.etat }}
                <div class="class_flex class_justify_center">
                    <button id="bouton_terminer" type="submit" name="form_soumis" value="trajet_terminer_form">
                        Modifier le statut
                    </button>
                </div>
        </form>
    {% endif %}
</div>

<div>
    {% if trajet4 %}
        <h2 class="vehicle-title">
            <span class="icon"></span>
            Vos covoiturages proposés
        </h2>
        <form class="display_grid" action="{{ queryString|default:"" }}" id="demarrer_ou_annuler_form" method="post">
            {% csrf_token %}
                {% include "interface_utilisateur/utilisateur/onglet_3_covoiturage/proposition/_partie__covoit_chauffeur.html" %}
                <label for="etat_trajet">changement de statut</label>
                    {{ demarrer_ou_annuler_form.etat }}
                <div class="class_flex class_justify_center">
                    <button id="deux_choix" type="submit" name="form_soumis" value="demarrer_ou_annuler_form">
                        Modifier le statut
                    </button>
                </div>
        </form>
    {% endif %}
</div>

<div >
    {% if reservation3 %}
            <h3 class="vehicle-title">
            <span class="icon"></span>
            Vos réservations
        </h3>
        <form class="display_grid" action="{{ queryString|default:"" }}" id="reservation_form" method="post">
            {% csrf_token %}
                {% include "interface_utilisateur/utilisateur/onglet_3_covoiturage/reservation/partie_resa_passager.html" %}
            <label for="etat_reservation_{{ res.id }}">Modifier le statut :</label>
                    {{ reservation_form.etat_reservation}}
                <div class="class_flex class_justify_center">
                    <button id="reservation_annuler" type="submit" name="form_soumis" value="reservation_form">
                        Modifier le statut
                    </button>
                </div>
        </form>
    {% endif %}
</div>
