#affichage_trajet_form > div > div {
    display: flex;
    align-items: center;
}

#affichage_trajet_form label {
    display: flex;
    justify-content: center;
    align-items: center;
    left:0px;
    margin-bottom: 0px;
    border-radius: 0;
    top:0;
    }


#affichage_trajet_form input,
#affichage_trajet_form select {
    flex: 1;
    border-radius: 0px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}
#affichage_trajet_form {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*--------------Dimensions tableau--------------*/

#page-wrap {
    width: 100%;
    margin: 10px auto;
}

/*-----------Gestion---des---Onglets--------------*/

.tab {
    float: left;
}
.tab label {
    padding: 10px;
    background: white;
    border: solid 1px black;
    position: relative;
    left: 2px;
    top: 4px;
    margin-bottom: 12px;
    border-radius: 10px;
}
.tab [type="radio"] {
    display: none;
}

.tab [type="radio"]:checked ~ label {
    background-color: rgb(200, 240, 200);
    color: black;
    z-index: 0;
    border-bottom: 1px solid white;
}

.tab [type="radio"]:checked ~ label ~ .content {
    z-index: 1;
}
.tab [type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
}

/*--------------Contenant----des---onglets--------------*/

.content {
    position: absolute;
    top: 25px;
    left: 0;
    background: #b19a8b;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-radius: 5px 10px 10px 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.41);
    overflow-y: auto;
}

#adresse_form option,
#trajet_form option,
form#etat_form option,
#id_etat_reservation option,
#role_form option,
#voiture_form option,
#preference_form option {
    background-color: rgb(200, 240, 200);
    border: solid 3px black;
}

/*-----Onglets actifs--------------*/

[type="radio"]:checked ~ label ~ .content {
    z-index: 1;
}
[type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
}
/*--autre--*/
#modification_satut {
    margin-bottom: 30px;
}
/*--------------Responsive conteneur--------------*/

@media (min-width: 320px) and (max-width: 480px) {
    div.tabs {
        margin: 10px 5%;
    }
    #menu-tab {
        font-size: 8pt;
    }
    .tabs {
        min-height: 650px;    }
    .tab label {
        top: 8px;
    }
    #nbr_mail, h1 {
        margin: 15px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 25px;
        width: 130px;
        font-size: 12px;
    }
    form#affichage_trajet_form {
        margin-top: 15px;
    }
    select#id_avis, form#moderation_form > div > p{
        margin-left:10%;
        margin: 10px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    div.tabs {
        margin: 10px 10%;
    }
    .tab label {
        font-size: 12px;
    }
    .tabs {
        min-height: 700px;
    }
    #nbr_mail, h1 {
        margin: 15px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
    #nbr_mail {
        font-size: 16px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 25px;
        width: 150px;
        font-size: 12px;
    }
    form#affichage_trajet_form {
        margin-top: 15px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 18px;
        margin: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    div.tabs {
        margin: 10px 10%;
    }
    .tab label {
        font-size: 14px;
    }
    .tabs {
        min-height: 800px;
    }
    #nbr_mail, h1 {
        margin: 15px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
    }
    #nbr_mail {
        font-size: 18px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 150px;
        font-size: 12px;
    }
    form#affichage_trajet_form {
        margin-top: 15px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 18px;
        margin: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    div.tabs {
        margin: 15px 12%;
    }
    .tab label {
        font-size: 15px;
    }
    .tabs {
        min-height: 850px;
    }
    #nbr_mail, h1 {
        margin: 20px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    #nbr_mail {
        font-size: 20px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 200px;
        font-size: 16px;
    }
    form#affichage_trajet_form {
        margin-top: 15px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 18px;
        margin: 10px;
    }
}

@media (min-width: 1280px) and (max-width: 1440px) {
    div.tabs {
        margin: 20px 12%;
    }
    .tab label {
        font-size: 16px;
    }
    .tabs {
        min-height: 900px;
    }
    #nbr_mail, h1 {
        margin: 20px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    #nbr_mail {
        font-size: 20px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 225px;
    }
    form#affichage_trajet_form {
        margin-top: 25px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 225px;
        font-size: 16px;
    }
    form#affichage_trajet_form {
        margin-top: 15px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 18px;
        margin: 10px;
    }
}

@media (min-width: 1440px) and (max-width: 1760px) {
    div.tabs {
        margin: 20px 16%;
    }
    .tab label {
        font-size: 18px;
    }
    .tabs {
        min-height: 950px;
    }
    #nbr_mail, h1 {
        margin: 20px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    #nbr_mail {
        font-size: 20px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 225px;
        font-size: 16px;
    }
    form#affichage_trajet_form {
        margin-top: 25px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 18px;
        margin: 10px;
    }
}

@media (min-width: 1760px) and (max-width: 1920px) {
    div.tabs {
        margin: 25px 18%;
    }
    .tab label {
        font-size: 18px;
        top:2px;
    }
    .tabs {
        min-height: 950px;
    }
    #nbr_mail, h1 {
        margin: 20px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    #nbr_mail {
        font-size: 20px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 225px;
        font-size: 18px;
    }
    form#affichage_trajet_form {
        margin-top: 15px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 20px;
        margin: 10px;
    }
}

@media (min-width: 1920px) and (max-width: 2048px) {
    div.tabs {
        margin: 25px 20%;
    }
    .tab label {
        font-size: 20px;
        top:0px;
    }
    .tabs {
        min-height: 1000px;
    }
    #nbr_mail, h1 {
        margin: 20px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    #nbr_mail {
        font-size: 20px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 260px;
        font-size: 18px;
    }
    form#affichage_trajet_form {
        margin-top: 25px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 20px;
        margin: 10px;
    }
}

@media (min-width: 2048px) and (max-width:2560px){
    div.tabs {
        margin: 30px 24%;
    }
    .tab label {
        font-size: 22px;
        top:-2px;
    }
    .tabs {
        min-height: 1000px;
    }
    #nbr_mail, h1 {
        margin: 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    #nbr_mail {
        font-size: 22px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 30px;
        width: 260px;
        font-size: 18px;
    }
    form#affichage_trajet_form {
        margin-top: 25px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 22px;
        margin: 10px;
    }
}

@media (min-width:2560px){
    div.tabs {
        margin: 30px 28%;
    }
    .tab label {
        font-size: 20px;
        top:0px;
    }
    .tabs {
        min-height: 1200px;
    }
    #nbr_mail, h1 {
        margin: 25px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
    #nbr_mail {
        font-size: 24px;
    }
    #affichage_trajet_form label, #affichage_trajet_form input {
        height: 40px;
        width: 350px;
        font-size: 22px;
    }
    form#affichage_trajet_form {
        margin-top: 45px;
    }
    form#moderation_form > div > p , form#moderation_form > p {
        font-size: 22px;
        margin: 10px;
    }
}