

.resultat input[type="radio"]:hover ~ label, .resultat  input[type="radio"]input:hover, .resultat [type=radio]:hover ~ label  {
    background-color: rgb(53, 152, 228);
    color: white;
}

.resultat input[type="radio"] {
    display: none;
}
.resultat label {
    border-radius: 10px;
    background-color: #6fc2ec;
    padding: 10px;
}

form#selection_trajet button {
    height: 30px;
    margin-bottom: 15px;
}
