<!DOCTYPE html>
<html lang="fr">
<head>
    {% block meta %}
        {% include "interface_utilisateur/reutilisable/accueil/_head_meta_donne.html" %}
    {% endblock meta %}
    {% block title %}
        {% include "interface_utilisateur/reutilisable/accueil/_nom_du_site.html" %}

    {% endblock title %}
    {% block style %}
        {% include "css_html/_css_index.html" %}
    {% endblock style %}
</head>

<header class="class_flex class_aligne_items_center position_relative">
    {% block headerContent %}
    {% block logo %}
        {% include "interface_utilisateur/reutilisable/accueil/_logo.html" %}
    {% endblock logo %}
    {% block msginfo %}
        {% include "interface_utilisateur/reutilisable/accueil/_msginfo.html" %}
    {% endblock msginfo %}

    {% block connection %}
            {% include "interface_utilisateur/reutilisable/accueil/_info_user.html" %}
    {% endblock connection %}

    {% endblock headerContent %}
</header>

<body class="class_flex class_column class_box_sizing ">
    {% block body %}

        {% block fondbase %}
            {% include "interface_utilisateur/reutilisable/accueil/_fondbase.html" %}
        {% endblock fondbase %}

        {% block principal %}
            {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_form_recherche.html" %}
                {% if first_resultat or second_resultat %}
                    {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_resultat_recherche.html" %}
                    {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_filtre_trajet.html" %}
                {% endif %}

        {% endblock principal %}

    {% block presentation %}
        {% include "interface_utilisateur/reutilisable/accueil/_presentation.html" %}
    {% endblock presentation %}
            {% block user %}
                {% include "interface_utilisateur/reutilisable/accueil/_info_utilisateur.html" %}
            {% endblock user%}
    {% endblock body %}

<footer class="class_flex class_justify_center class_aligne_items_center">
        {% block footerContent %}
            {% include "interface_utilisateur/reutilisable/accueil/_footer.html" %}
        {% endblock footerContent %}
</footer>
</body>
</html>
