{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="{% static 'photo/logo.ico' %}" type="image/x-icon">
    <meta name="google-site-verification" content="55hTLK2eHYbvixFbM_aq6D4SBMNeT9s7a7GurBqs9hM" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        {% include "interface_utilisateur/reutilisable/accueil/_nom_du_site.html" %}
        <p>    Ce site est un site de covoiturage developpé par un étudiant en reconversion professionnelle.<br>
            Il est en cours de développement et n'est pas encore fonctionnel. Merci de votre compréhension.</p>
    {% endblock title %}
    {% block style %}
        <link href="{% static 'css/accueil.css' %}" rel="stylesheet">
        <!-- Template trajet partager, pas le choix de les définir sur le template parent-->
        <link href="{% static 'css/index/body/block_principal/index_trajet/filtre_trajet.css' %}" rel="stylesheet">
        <link href="{% static 'css/index/body/block_principal/index_trajet/recherche.css' %}" rel="stylesheet">
        <link href="{% static 'css/index/body/block_principal/index_trajet/resultat.css' %}" rel="stylesheet">
        <!--fin template partager-->
    {% endblock style %}
</head>

<header class="doublon">
    {% block headerContent %}
    {% block logo %}
        {% include "interface_utilisateur/reutilisable/accueil/_logo.html" %}
    {% endblock logo %}
    {% block msginfo %}
        {% include "interface_utilisateur/reutilisable/accueil/_msginfo.html" %}
    {% endblock msginfo %}

    {% block connection %}
            {% include "interface_utilisateur/reutilisable/accueil/_info_user.html" %}
    {% endblock connection %}

    {% endblock headerContent %}
</header>

<body>
    {% block body %}

        {% block fondbase %}
            {% include "interface_utilisateur/reutilisable/accueil/_fondbase.html" %}
        {% endblock fondbase %}

        {% block principal %}
            {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_form_recherche.html" %}
                {% if first_result or second_result %}
                    {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_resultat_recherche.html" %}
                    {% include "interface_utilisateur/utilisateur/onglet_1_trajet/passager/_filtre_trajet.html" %}
                {% endif %}
        {% endblock principal %}

    {% block presentation %}
        {% include "interface_utilisateur/reutilisable/accueil/_presentation.html" %}
    {% endblock presentation %}

    {% endblock body %}

    <footer class="footer_doublon">
        {% block footerContent %}
            {% include "interface_utilisateur/reutilisable/accueil/_footer.html" %}
        {% endblock footerContent %}
    </footer>
</body>
</html>
