{% if reservation1 %}
<h3 class="class_flex class_justify_center p_deco">Vos réservations terminés</h3>
    <div>
        <ul class="class_flex class_scroll">
            {% for res in reservation1 %}
                {% include "interface_utilisateur/utilisateur/onglet_4_historique/reservation/_contenu_resrvation.html" %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if reservation2 %}
<h4 class="class_flex class_justify_center p_deco">Vos réservations annulées</h4>
    <div>
        <ul class="class_flex class_scroll">
            {% for res in reservation2 %}
            {% include "interface_utilisateur/utilisateur/onglet_4_historique/reservation/_contenu_resrvation.html" %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
